[2013-08-03 13:27] Venemo opened #2 "Test on Windows"
Test if node-lmdb can be built on Windows and test it by running the example code in the repository.

[2014-01-07 08:03] anko opened #11 "Core dumps when dbi functions are assigned to a local, then called"
If I take e.g. `dbi.close` (or seemingly `dbi.`anything, really) and assign it to a local variable, calling that local variable crashes *node-lmdb* with a cryptic error.

Here's a test-case:

    var lmdb = require("node-lmdb");
    var env = new lmdb.Env();

    console.log("Opening env");
    env.open({
        "path"    : "./testdb",
        "max-dbs" : 1
    });

    console.log("Opening dbi")

[2014-01-20 23:02] Venemo opened #14 "Wrap mdb_env_copy"
Create a wrapper for `mdb_env_copy`.

[2014-01-20 23:02] Venemo opened #15 "Wrap mdb_env_stat"
Create a wrapper for `mdb_env_stat`.

[2014-01-20 23:03] Venemo opened #16 "Wrap mdb_env_info"
Create a wrapper for `mdb_env_info`.

[2014-01-20 23:03] Venemo opened #17 "Wrap mdb_set_compare"
Create a wrapper for `mdb_set_compare`.

[2014-01-20 23:03] Venemo opened #18 "Wrap mdb_set_dupsort"
Create a wrapper for `mdb_set_dupsort`.

[2014-04-01 11:38] Venemo opened #21 "Proper use of Ref and Unref"
This is a followup to the discussion at #20 - I've finally figured out the real reason behind the problem.

The cursors example does something like this:

[code]
The real issue is NOT that the V8 GC ate `dbi2` but that it (correctly) destroyed `dbi1` which in turn called `mdb_dbi_close` on the `MDB_dbi`, while that `MDB_dbi` was still in use by `dbi2`.

The correct solution to this problem:
* Neve

[2014-04-03 18:59] bmatsuo1 opened #22 "mojibake string keys"
I'm writing data to LMDB with another program. the keys are utf8 strings (in my case, really just ascii) and the values are snappy-encoded json.

I'm trying to get a node script to scan and process the same database. But strings are garbled coming out. The values in the database can be read and decoded correctly with `cursor.getCurrentBinary()`. But they keys are incorrectly assumed to be utf-16 s

[2014-04-22 04:36] shardy-francis opened #23 "valToBinary() versus valToString()"
I've been messing around with "String::NewExternal(new CustomExternalStringResource(&data))" versus "Buffer::New((char*)data.mv_data, data.mv_size, [](char*, void*) -> void { /* Don't need to do anything here, because the data belongs to LMDB anyway */ }, NULL)->handle_" and come to the conclusion that with a 4KB data then the former is about four times faster. It's as if Buffer::New() is not doin

[2014-05-09 14:44] johnnycrab opened #25 "node v.0.11.x support"
Heyhey,
we stumbled across an error when trying to build the module for node v.0.11:
[code]
This seems to be due to the api changes for native modules when changing from v.0.10.x to v.0.11.x. Do you plan to port node-lmdb to v.0.11 in the very near future? This would be great!
Maybe this could help: [nan](https://github.com/rvagg/nan)

Thanks a lot and cheers!

[2014-08-18 13:01] joernroeder opened #31 "Cursor is leaking memory"
Hey,
I've discovered a memory leak in the lmdb.Cursor and [updated the cursor example](https://gist.github.com/joernroeder/4ef5d696f27f0f9c5647) to reproduce the leak outside of my application.
After that I've used Instruments Memory-Leak Template and attached it to the running node process to digg a bit deeper and saw the obvious and continuously growing amount of `CustomExternalStringResource` …

[2014-10-28 13:13] liukun opened #32 "Reliable way to copy string?"
As you have said in doc:

What is the most reliable way to copy strings before closing environment and use that string later?

I have tested that `""+string` and `string.substr(0)` would not work and `(" "+string).slice(1)` would work.

[2015-01-01 15:38] Venemo commented on #2
@JuniperChicago Is there a way to specify the minimum msvs version in the `binding.gyp` or `package.json` somehow?

[2015-01-05 07:11] JuniperChicago commented on #2
@Venemo I have to make a correction regarding the success of my build. I merged [onilabs/node-lmdb/commit/a43d460eb1bbcd4160c6fc117509c42d36e39094](https://github.com/onilabs/node-lmdb/commit/a43d460eb1bbcd4160c6fc117509c42d36e39094) then used `-msvs_version-2013` on the command line where the build spews lots of warnings but completes. As to your question, I do not know how to specify minimum msv

[2015-01-07 07:19] Venemo commented on #2
Thank you @JuniperChicago :) I have a few more questions:

* Does it actually work with your patches and `-msvs_version-2013`?
* Could you pastebin the full output of the thing including warnings and everything?

[2015-01-08 04:27] JuniperChicago commented on #2
@Venemo Here is the [pastebin](http://pastebin.com/wWjdc9nt) with my console.log output. Yes, the build works fine building off my [fork](https://github.com/JuniperChicago/node-lmdb), which I am calling from 'package.json'. Although I am getting some weirdness where `txn.putString()` is somehow causing `keyIsUint32` error to be returned even though I am using a string for the key and I do not have

[2015-01-08 08:52] Venemo commented on #2
@JuniperChicago Thanks for your help! About this `keyIsUint32` error, could you give me some code that shows when it happens?

[2015-01-09 08:47] JuniperChicago commented on #2
@Venemo Thanks for the help. I managed to sort out the ordering of transactions and edge cases cases where I was escaping functions before transactions were closed. So, I this error is not an issue anymore. Again, thanks.

[2015-01-09 10:59] Venemo commented on #2
@JuniperChicago That's nice, but I'd still appreciate a sample code to reproduce the issue. Maybe I can add more meaningful error messages.

[2015-02-27 16:55] jackhftang opened #33 "Cannot install for node 0.12.0"
same as title

[2015-02-27 17:21] Venemo commented on #33
Thanks for the report, but this is worked on in ticket #25 :) Please report your findings over there

[2015-02-27 17:21] #33 closed

[2015-03-21 17:16] russtee opened #34 "MDB_READERS_FULL - maxReaders defaulting to wrong value?"
When running in multi-process mode I am getting the error MDB_READERS_FULL.

Looking through the code env.cpp seems to default it to 1
[code]

however, mdb.c seems to default it to 126
[code]
also, adding `maxReaders:126` to the env.options seems to fix it.

[2015-03-30 06:04] justmoon commented on #25
Created a PR: #35

CC @MarkSwanson @jackhftang @johnnycrab

[2015-03-30 08:03] Venemo commented on #25
@justmoon Thanks! :) Very good job!

[2015-04-07 15:01] jackhftang commented on #25
@justmoon Thanks!

[2015-04-22 08:20] Venemo commented on #25
@johnnycrab @justmoon So I think I can close this issue now, right?

[2015-04-22 08:22] Venemo commented on #32
It's a tricky question, because (for obvious performance reasons) V8 doesn't like to copy strings. The way you found sounds okay. I also think `JSON.parse(JSON.stringify(yourString))` would work.

[2015-04-22 08:22] Venemo commented on #11
@mikepb That's a reasonable thing, but it sounds like it would hurt performance. What do you think?

[2015-04-22 08:24] Venemo commented on #23
Since this is a Node issue rather than a `node-lmdb` issue, I'll close this issue now.

[2015-04-22 08:24] #23 closed

[2015-04-22 08:26] Venemo commented on #34
Seems easy enough to fix. I'll take a look at it tomorrow.

[2015-04-22 14:08] mikepb commented on #11
I prefer writing more maintainable code JS than performant code for the simple reason that there are more people who can write JS than native bindings. For the same reasons, I don't use native bindings anymore...

[2015-04-23 07:22] Venemo commented on #11
Okay!

[2015-04-23 07:22] #11 closed

[2015-04-23 07:23] #22 closed

[2015-04-23 07:23] #32 closed

[2015-04-28 08:35] liukun commented on #32
@Venemo got it! Thanks!

[2015-07-17 05:12] ruffrey opened #37 "How to list dbis?"
Thanks for this great lmdb binding. I was not able to find how to list current dbis / subdatabases in an environment. Sorry if this is obvious I am new to lmdb.

[2015-09-12 14:27] Pumpapa opened #38 "node-lmdb doesn't compile against node 4.0.0"

[2015-09-12 16:01] Venemo commented on #38
Hi!
What exactly is the issue here?

[2015-09-12 16:25] Pumpapa commented on #38
This is weird. I wasn't aware I had opened an issue. Pressed the button by mistake, I guess.
Anyway, Just upgraded to node 4.0.0 and node-lmdb is the only module that doesn't compile (trace below). I've resolved my issue by downgrading node to v0.12.7. I don't think the issue is in node-lmdb (can't be sure though). Googling I see this same issue for other pacakages (I think).

npm install node-lmd

[2015-09-12 16:26] Pumpapa commented on #38
(oooh. Should have escaped that. But you get the gist)

[2015-09-12 16:43] Venemo commented on #38
Looks like something's wrong with *nan*, the module I use for compatibility accross multiple node versions. This seems like the problem: `../node_modules/nan/nan.h:324:27: error: redefinition of 'NanEnsureHandleOrPersistent'`

I'll dig deeper and see what I can find out.

[2015-09-12 17:05] ChALkeR commented on #38
Adding to the list: https://github.com/nodejs/node/issues/2798.
`nan` dependency has to be updated to v2.

[2015-09-12 17:43] Venemo commented on #38
Thanks @ChALkeR I'll see if upgrading *nan* will help!

[2015-09-12 17:52] ChALkeR commented on #38
@Venemo If it won't, you will have to upgrade `nan` and fix something else =). A version bump of `nan` is required for 4.0.0 support.

[2015-09-12 21:06] Pumpapa opened #39 "Encoding problem? utf8 string written and retrieved results in half a string padded with zeroes"
(let me start by saying I'm confused. I've been using node-lmdb for several weeks apparently without a problem. As far as I can tell, the issue I'm having occurs only on my (development) Mac, and my (production) debian machine works fine)

[code]

The output is in file 1st: `This is an ordinary string`, but in file 2nd: `T h i s   i s   a n   o r `. That file has the same length, with invisible ch

[2015-09-12 21:41] Pumpapa commented on #39
To be complete: I've just reinstalled node and all modules from scratch, currently v0.12.7 (v4.0.0 obviously doesn't work yet). My machine is MacOSX Yosemite v10.10.5

[2015-09-12 22:20] Venemo commented on #39
This is interesting. The output file does contain 26 characters (the correct length of the original string), but somehow every second character is a `^@`. The interesting part is that `console.log` can properly output the second string, so at the moment I don't see a reason why `fs.write` can't.

But here is where it gets totally weird: if I create a `Buffer` from both `s1` and `s2` then `console.

[2015-09-12 22:26] Venemo commented on #39
Oh, note: I use node v0.12.2 on Fedora 22.

[2015-09-12 23:08] Venemo commented on #39
I checked: the bytes returned from LMDB (and that are wrapped by the `CustomExternalStringResource` class) are exactly what they should be. My current guess is that either V8 or node does something somewhere internally that messes with external string resources.

Even if I return a dummy string from `CustomExternalStringResource::data()` node fails to put it into a buffer or write it into a file.

[2015-09-12 23:13] Venemo commented on #39
Okay, I've found the problem:
https://github.com/nodejs/node/blob/v0.12.7/src/string_bytes.cc#L331

In JavaScript, strings are UTF-16 so node-lmdb stores them in UTF-16 as well. The above implementation simply uses `memcpy` to copy bytes. However copying a number of bytes is not the same as copying a number of UTF-16 characters...

It seems that they've fixed it, at least the madness is not presen

[2015-09-15 08:47] Pumpapa commented on #39
As a workaround I force a copy, which results in the proper string, e.g. by doing `('*'+s).slice(1)`, as below. I'm unsure why this works while directly using lmdb's result doesn't, if both strings internally are represented as UTF-16, but it does work.

[code]

[2015-09-15 11:13] Venemo commented on #39
@Pumpapa Take a look at the link I gave. It has working code for strings on the V8 heap (which uses `WriteUtf8`) and a buggy special case for external string resources (which uses a simple `memcpy`).

[2015-09-15 11:26] Pumpapa commented on #39
Yeah. I looked at the link but didn't look deeper into the context. I agree that it's a bug on their side which has been resolved in the latest version and which will automatically flow into node-lmdb as soon as that is on par with v4.0.0. I added my work-around only for people who, like me, need something today. Thanks for looking into it though. Like I said, I'm very happy with node-lmdb, which

[2015-09-15 11:26] #39 closed

[2015-09-15 11:45] Venemo commented on #39
@Pumpapa I'm glad to hear that. Stay tuned for node 4.0 support! :)

[2015-10-18 17:50] mhart commented on #38
I'm also seeing this exact issue on Node v4.2.1 on Mac OS X

[2015-10-18 21:34] dasantonym commented on #38
this fork works (at least for me): https://github.com/xygroup/node-lmdb

[2015-10-19 09:27] #38 closed

[2015-11-16 16:29] monquixote commented on #37
I am also having this issue.

[2015-11-16 19:23] Venemo commented on #37
There is currently no way in LMDB to list the current dbis, as far as I know. Maybe @hyc (Howard Chu) could comment on whether there is a way to do it.

[2015-11-16 23:51] hyc commented on #37
There's no built in method to do so. It doesn't make sense to me to need such a thing, you opened the sub-DBs so you ought to know what they are already.

[2015-12-11 07:05] delaneyj commented on #2
on a windows 10 box with Node.js 5.2 and VisualStudio 2013 (able to compile other project like redis' c/c++ without issue so evn flags are all setup and working).

[code]

getting this as output.
[code]

I know this is an old thread but seeing if there is a known fix.

[2015-12-11 10:01] Venemo commented on #2
@delaneyj The trouble seems to be this line:

[code]

So it's one of LMDB's source files that would need `unistd.h` which it can't find.
I'd need to look around and see what needs to be done to build LMDB on Windows.

[2015-12-11 19:15] delaneyj commented on #2
Not sure but would a [library like this one](http://www.codeproject.com/Articles/157001/Full-getopt-Port-for-Unicode-and-Multibyte-Microso) provide you with what you need, also there is [this](http://www.codeproject.com/Articles/1940/XGetopt-A-Unix-compatible-getopt-for-MFC-and-Win)?

[2016-01-18 14:34] mrboggieman commented on #2
I can get it to compile on Windows (and working) by just dropping these files into the directory:

[liblmdb_win.zip](https://github.com/Venemo/node-lmdb/files/94524/liblmdb_win.zip)

[2016-01-18 16:10] delaneyj commented on #2
Can those files be added or a binary for Windows be provided?  I have a catch 22 where npm won't create the directly until its finished installing but can't finish install without those headers.

[2016-01-18 18:40] mrboggieman commented on #2
@delaneyj You can download the node-lmdb source from git, add the files posted above to 'node-lmdb-master/libraries/liblmdb/' and then just do 'npm install node-lmdb-master' and it will compile the code and you can use 'require("node-lmdb")' as normal

[2016-01-18 20:42] delaneyj commented on #2
wouldn't it be more universal to just include the 3 headers?  This way is making the use of lmdb a special  case in a normal npm workflow.

[2016-01-18 22:17] Venemo commented on #2
@mrboggieman Can you give some more explanation on what exactly those files are? Could I include them in the source tree?

[2016-01-18 22:44] delaneyj commented on #2
Personally I don't know, definitely not a c/c++ node guy..  but if i drop those files into folder with the rest of the code and use `node-gyp configure; node-gyp build` it does in fact build.  I know `io-redis` compiles on Windows without these types of workaround.  Any testing I can do to make this better from a user perspective please let me know.

[2016-01-18 23:27] Venemo commented on #2
The other question is that of licensing - do the files come with a license that is compatible with that of `node-lmdb`?

[2016-01-18 23:35] delaneyj commented on #2
Gotcha, its iteresting the files linked above appear to be LGPL, but as found [an MIT version](http://web.mit.edu/ghudson/dev/third/krb5/src/util/windows/getopt.c).  The joys of licensing :P

[2016-01-19 11:46] mrboggieman commented on #2
@Venemo The files polyfill the linux functionality missing in windows for handling parsing command arguments and os specific calls like fork and wait. To make compiling work with linux and windows it is likely that os specific checks should be used to include the files (rename them to prevent a clash with the linux version). I am no C++ developer though so will leave it up to someone who knows wha

[2016-02-08 15:03] lukas-zech-software opened #41 "Opening second readOnly transaction throws "MDB_BAD_RSLOT""
I am trying to do multiple concurrent reads on my environment, however if I try to open a second transaction with the **readOnly** flag this error gets thrown

`Error: MDB_BAD_RSLOT: Invalid reuse of reader locktable slot`

When opening both transactions without the **readOnly** flag the process simply freezes on the second call to `txn.beginTxn()`

The only two concurrent transaction can exist is

[2016-02-08 16:42] Venemo commented on #41
@lukas-zech-software Thanks for reporting this!

By default, LMDB doesn't allow concurrent reads from the same thread. I'd need to use `MDB_NOTLS` to allow it.

Yes, this is expected, because the second transaction will wait until the first one finishes (and if your app is single threaded, you basically hit a deadlock).

[2016-02-08 17:01] Venemo commented on #2
@mrboggieman @delaneyj I'll try to do my best. I'll try to make it work with an MIT-licensed variant but if it doesn't work out, would you guys be okay with the LGPL implementation?

[2016-02-08 17:12] lukas-zech-software commented on #41
Yes, indeed, the second behaviour is expected, as I learned in the meantime. From the docs:

The first was a bit irritating, but is mentioned in a mailing post by Howard Chu where he states, that the thread should keep it a reference to the read-only transaction and reuse it.
http://www.openldap.org/lists/openldap-technical/201406/msg00016.html

As we only have one thread in NodeJs, reusing the tr

[2016-02-08 21:40] Venemo commented on #41
@lukas-zech-software I think enabling `MDB_NOTLS` makes sense for `node-lmdb` because node will always be single threaded. The way to use it would depend on the kind of application (eg. for a web app, I'd keep a single readonly transaction per web request).

About your cursor issue: can you please create a simple test case to reproduce it?

[2016-02-09 08:45] lukas-zech-software commented on #41
@Venemo

I created a fork of your repository and changed the cursor example to reflect my use case:
https://github.com/lukas-zech-software/node-lmdb/blob/master/example4-cursors.js

If you clone this repro and run `node example4-cursors.js` you will get an Error `Error: Invalid argument`

Basically all I changed was moving the creation of the environment and the transaction to another module which

[2016-02-09 09:11] lukas-zech-software commented on #41
I just created a even simpler example here
https://github.com/lukas-zech-software/node-lmdb/blob/master/example4-cursors_simple.js

Creating the transaction instance in a different function scope than the cursor seems to cause the error.

Are the node bindings somehow bound to the scope object of the calling function?

I don't have a lot of experience with C++ or Node bindings but it might have so

[2016-02-09 09:55] lukas-zech-software commented on #41
Sorry for posting so much, but my previous assumption was wrong.

The error happens when a cursor is created on a db which was not opened at the time the transaction was created

Steps to reproduce are therefore:

1. Open Environment
2. Open _Db1_
3. Begin _Transaction1_
4. Create _Cursor1_ with _Transaction1_ on _Db1_ and start reading
5. Open _Db2_
6. Create _Cursor2_ with _Transaction1_ on _Db2

[2016-02-09 09:55] #41 closed

[2016-02-09 10:16] mrboggieman commented on #2
@Venemo the licence works for me. As this is a wrapper library I think LGPL is suitable

[2016-02-09 11:52] Venemo commented on #41
@lukas-zech-software Sure, let me know when the pull request is ready. In the meantime I'll just add MDB_NOTLS which should make your life a bit easier.

[2016-02-22 21:06] braydonf opened #43 "Incorrect `dupFixed` argument, always true with `dupSort`"
While doing testing, I've noticed that `dupFixed` in always being set to `true`, when `dupSort` is specified. For example:

[code]
And then putting two values with different sizes:
[code]

Will give the error:
[code]

From reading [documentation](http://symas.com/mdb/doc/group__mdb__dbi__open.html#ga5acc26f80668d1ebc31265d178c69338) the size of the value should only need to be fixed when `MDB_DUPF

[2016-02-22 21:12] braydonf opened #44 "Require statement include direct path to bindings"
Requiring node-lmdb currently is required with the full path:

[code]

Which when switching between bindings that are compiled with the debug flag, the require statements need to be updated to:

[code]

This could be automatically handled with the [bindings](https://www.npmjs.com/package/bindings) module or [prebuild](https://www.npmjs.com/package/prebuild), and compatible with both with:

[code]

[2016-02-22 21:14] braydonf opened #45 "Test coverage"
While there are many great examples, there isn't automated test coverage. Many of the examples could be converted into tests that could be run with continuous integration.

[2016-02-22 21:17] braydonf opened #46 "Asynchronous `getBinary`, `getString`, `putBinary` and `putString`?"
Since `getBinary`, `getString`, `putBinary`, `putString` can perform io, should there be equivalent methods that are asynchronous?

[2016-02-22 23:47] russtee commented on #31
Hello there,

I'm getting this too. Was happening on node v0.10.29 with an old version of the lib and so we've ported everything to v5.6.0 with the latest lib and it's still there.

On a 4G VM with a tight loop and db of around 30M keys I can exhaust the machines memory in around 30s.

Just iterating the cursor is enough.

Here's a code snippet:
[code]
Any help would be much appreciated as we've j

[2016-02-23 01:08] russtee commented on #31
Some experimental results.

I had an idea that the tight sync loop could be stopping the node garbage collector from running.

To test this theory I implemented the above using the streams API and piped the result into /dev/null.
Unfortunately the same memory leak occurs.

I then added a forced call to the node garbage collector every 100,000 items and that made no difference either.

[2016-02-23 13:05] Venemo commented on #43
@braydonf Thanks for reporting this. Can you give me a minimal test case that reproduces the problem?

[2016-02-23 13:06] Venemo commented on #44
@braydonf If you download the module from npm, `require('node-lmdb')` should just work, doesn't it?

[2016-02-23 13:08] Venemo commented on #31
@russtee Thanks for chiming in to this discussion. Can you give me a minimal test case that will reproduce the memory leak for me?

[2016-02-23 13:09] Venemo commented on #45
@braydonf Contributions are welcome in this area. :)

[2016-02-23 13:19] Venemo commented on #46
@braydonf I've thought about this a lot. The thing is that lmdb uses memory-mapped files so itself does very little (or hardly any) I/O. The actual I/O is done by the OS as needed. You could of course argue that in case the memory map is inside swap, then this will cause you to wait for disk I/O in a synchronous way.

Currently I have example6-asyncio.js which shows how you can customize it as muc

[2016-02-23 13:26] Venemo commented on #31
(As an aside, this might have to do with #21 but could be something else entirely.)

[2016-02-23 14:12] braydonf commented on #44
Yep, so I just realized that `var lmdb = require('node-lmdb');` should work already since package.json specifies `./build/Release/node-lmdb`. However if compiled with debug this would need to be updated.

[2016-02-23 14:26] russtee commented on #31
this kills my machine in about 30s
[code]

[2016-02-23 15:19] #44 closed

[2016-02-23 15:26] Venemo commented on #44
@braydonf So what's your suggestion?

[2016-02-23 15:33] Venemo commented on #31
@russtee Yup, you got me. Machine is swapping like hell! So basically the leak doesn't have anything to do with creating and destroying cursors, simply traversing back and forth using a single cursor can eat all your memory...?

[2016-02-23 16:02] Venemo commented on #31
I've found one possible memory leak: on each call to any of the `goToSomething`-functions, the cursor wrapper will create a V8 handle for the current key and data pointed to by the cursor (by calling `keyToHandle` which in turn calls `valToString`). Unfortunately this means that it mindlessly creates a bunch of `CustomExternalStringResource` instances, and V8 seems to never release those.

[2016-02-23 16:08] braydonf commented on #46
Thanks for the reply.

From a test with writing over 1,000,000 key/values (using `env.sync`) there was read and write IO before `sync` is called (as from looking at iotop). Most of the time was spent when `putBinary` is called (9 seconds), and less time when `sync` is called (1 second).

I haven't noticed anything blocking from `getBinary` though.

[2016-02-23 17:55] Venemo commented on #46
@braydonf That doesn't sound so bad. Did you use `noMetaSync` and `noSync` when opening the environment?

[2016-02-23 18:33] braydonf commented on #46
Yep `noMetaSync` and `noSync` was passed in as options to `env.open`. It's not to bad considering the number of keys (the more keys the slower it becomes). However in those 9 seconds a `setInterval` set to log every second was blocked. Calling sync more frequently could help.

Could a thread be dedicated for this purpose? For example:
[code]

[2016-02-23 21:11] russtee commented on #31
I think that's it, when I run it with valgrind
[code]
I get the following which seems pretty conclusive:
[code]

[2016-02-23 22:38] russtee commented on #31
this seems to fix it:
[code]
no longer leaks memory.
Need to test it with our wider systems.

[2016-02-24 01:25] russtee opened #47 "utf8 keys rather than utf16?"
Is there any reason why keys cannot be stored in UTF8 format rather than UTF16?

Under the lmdb hood they're just a bunch of bytes and as most keys tend to be Latin using 2 bytes per char seems pretty wasteful.

If you have 30M+ keys (which we do) it can add up to much larger databases which need to be paged in and out of memory.

[2016-02-24 06:49] Venemo commented on #47
@russtee That'd defeat the 'zero-copy' promise of `node-lmdb`. V8 Treats strings as UTF-16, and if you store it as UTF-8 it will have to make a copy in UTF-16 first before you can use them.

[2016-02-24 06:50] Venemo commented on #31
@russtee Congrats, you just defeated the 'zero-copy' promise of node-lmdb and introduced an extra copy to every string. :)

[2016-02-24 06:52] Venemo commented on #47
So this idea would not only waste memory by introducing an extra memcpy for every string key, but also introduce a conversion from UTF-8 to UTF-16...

[2016-02-24 07:02] Venemo commented on #31
@russtee The solution is very banal though: adding `delete this;` to the `Dispose` method of `CustomExternalStringResource`. Looks like V8 calls `Dispose` and expects that to get rid of the instance as well, so never calls the destructor.

[2016-02-24 07:06] Venemo commented on #31
I committed and pushed a change which makes the memory leak go away successfully for me. Can you please give it a try and get back to me about whether or not it worked?

[2016-02-24 07:11] Venemo commented on #47
(Generally this is not a fault of V8: the JavaScript spec treats all strings as UTF-16)

[2016-02-24 08:32] russtee commented on #47
Isn't the extra memcpy a transient thing though? I don't understand the waste memory part. If my database is 25% bigger (say 5GB) because the keys are 50% larger than they need to be then more memory will be need to be paged in from disk which ultimately constrains the database size or unduly slows the machine down for all the other processes.

[2016-02-24 08:38] russtee commented on #31
I don't think the 'zero-copy' promise is a real constraining factor in a typical node.js app. v8 copies things very wastefully and IO tends to be the major bottleneck.

Great news on the fix, will give it a try. Hopefully we can finally complete the switch to node-lmdb.

[2016-02-24 10:05] Venemo commented on #47
@russtee I think I get your point. In this case, it would be a trade between disk storage space and application speed.

[2016-02-24 10:06] Venemo commented on #31
@russtee Actually, one of the reasons why lmdb is fast is the zero-copy promise. Not copying something is always slower than copying it. Why this is a good thing is (since the lmdb database is a memory-mapped file) because you let the OS decide which parts need to reside in memory and which can be paged on disk, instead of insisting on putting everything into the memory (which if it runs out can e

[2016-02-24 11:34] russtee commented on #31
I understand the theory and agree 100% with the sentiment and the speed of lmdb is one of its real benefits, the multi-process access being the other. However speed needs to be measured in the context of the system as a whole.

If all of your keys are 50% bigger then you inadvertently end up doing a lot more work. We have 50+ servers and our biggest cost in terms of performance and capacity is SSD

[2016-02-24 11:54] russtee commented on #31
this seems fixed for both the specific test and our wider application. thanks.

[2016-02-24 11:56] russtee commented on #47
Indeed, it could be different for others depending on the application. We have 50+ servers and our biggest cost in terms of performance and capacity is SSD space and memory both of which are consumed when the lmdb database is larger.  If all of your keys are 50% bigger then you inadvertently end up doing a lot more work. Larger keys lead to more page fragmentation which increases the load consider

[2016-02-24 14:30] Venemo commented on #31
@russtee Cool, I'll close this issue then. :)

[2016-02-24 14:30] #31 closed

[2016-02-24 14:39] Venemo commented on #47
I agree that it depends mostly on the application. To be honest, since javascript always uses UTF-16 for strings it never occoured to me to expose the ability to store stuff in other encodings with this module.

But of course, if you access the database from other processes and those processes use UTF-8 then yeah, you'd have to make a choice and I can see why you would choose to use UTF-8.
(I woul

[2016-02-24 14:41] Venemo commented on #37
Well, I could see the benefit of this idea, but as long as it is not supported by the underlying library, I can't support it either.

[2016-02-24 14:57] russtee commented on #47
Yes, I was thinking of keys as buffers as an option, it would certainly solve our problem.

As a proof of concept I'll take a look at casting our utf8 keys to utf16 at the application level, we're not particular CPU bound and so it would probably keep us going in the interim.

[2016-02-24 15:46] braydonf commented on #47
I agree, keys as buffers would be a good option to have.

[2016-02-26 18:41] xinli2k5 opened #48 "Could not build on OS X"
`$ node-gyp build`
`gyp info it worked if it ends with ok`
`gyp info using node-gyp@3.3.0`
`gyp info using node@0.10.32 | darwin | x64`
`gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS_ORG_MIRROR`
`gyp info spawn make`
`gyp info spawn args [ 'BUILDTYPE=Release', '-C', 'build' ]`
`CC(target) Release/obj.target/node-lmdb/libraries/liblmdb/m

[2016-02-27 23:23] Venemo commented on #48
Which version of node do you use?

[2016-02-28 08:38] Matt-Esch opened #49 "String transactions copy/destructor"
How do you recommend copying the strings?

I was hoping there would be a transactional method that would create a transaction, read a string and then close the transaction in the external string resource destructor.

[2016-02-28 08:40] Matt-Esch opened #50 "Add tests"
This module needs tests.

[2016-02-28 08:42] Matt-Esch opened #51 "Callback interface is expensive"
A callback-based interface adds a significant amount of overhead. The synchronous methods should ideally return values instead of using a callback.

[2016-02-28 21:48] Matt-Esch opened #52 "Publish v0.4.0"
v0.3.0 is the latest published version, v0.4.0 patches a memory leak

[2016-02-29 11:34] Venemo commented on #49
@Matt-Esch You couldn't close the transaction in the external string resource destructor because that would lead to unintuitive behaviour.

If you want to use strings (or buffers), either keep the transaction open for as long as you need to use them, or copy them. Take a look at this: https://github.com/Venemo/node-lmdb/issues/32

[2016-02-29 11:35] Venemo commented on #51
@Matt-Esch Which methods are you talking about, specifically?

[2016-02-29 11:36] Venemo commented on #50
Please refer to #45 and let's continue the discussion there ― I'm closing this one now.

[2016-02-29 11:36] #50 closed

[2016-02-29 11:37] Venemo commented on #21
I'm assuming that since there weren't any bugreports about it, I'll just close this issue now.

[2016-02-29 11:37] #21 closed

[2016-02-29 11:40] Venemo commented on #34
I committed a fix to this now.

[2016-02-29 11:40] #34 closed

[2016-02-29 11:41] #25 closed

[2016-02-29 11:53] russtee opened #53 "add support for non named databases"
In order to access non named databases mdb_dbi_open needs to be called with NULL for the value of 'name'.

Currently this is not possible and so there is no way to access the data saved from other node lmdb modules such as https://github.com/rvagg/lmdb.

[2016-02-29 11:57] russtee opened #54 "sync version of cursor getters"
Currently the cursor get functions getCurrentString, getCurrentNumber, getCurrentBinary and getCurrentBoolean return the value asynchronously.

Would it be possible to add versions that return the value synchronously in a similar way to the general get functions as it would make iterator code much less complex?

[2016-02-29 12:00] RubenVerborgh commented on #21
Woops, yes… doesn't happen often that a TODO of two years is still on my list!

[2016-02-29 12:20] Venemo commented on #53
@russtee There is only one non-named database and multiple named databases. Are you aware that you can't use the non-named one if you also use the named one? Therefore it isn't very useful.

[2016-02-29 12:21] Venemo commented on #54
I believe this is what issue #51 is also about. Please let's discuss it there and let's close this one. :)

[2016-02-29 12:21] #54 closed

[2016-02-29 12:23] russtee commented on #53
Understand that, however it's very useful if you're porting your data from a db built using rvaggs lmdb module to this one. (which we are)

[2016-02-29 12:24] Venemo commented on #51
@russtee I'm looking forward to getting your feedback about this as well. :)

[2016-02-29 12:30] russtee commented on #51
We use lmdb synchronously for all operations whenever possible and the extra code overhead to handle the cursor callbacks seems unnecessary.

LMDB is very fast especially when running on SSD's.

That said on slower machines callbacks could be handy and would fit well into the node streams system for iteration operations.

[2016-02-29 21:07] Venemo commented on #53
@russtee I see. It shouldn't be to hard to do it, let me take a look. :)

[2016-02-29 21:14] russtee commented on #53
Great stuff, much appreciated.

[2016-02-29 21:18] Venemo commented on #53
@russtee I committed some code to support using the unnamed database, along with some docs and an example on how to use it. Please take a look and report back if this is okay for you.

[2016-02-29 21:22] Venemo commented on #51
One way to go about this is to create a JavaScript object and return that instead of calling a callback. The proposed object could have a `key` and  `data` property. Would something like this suit your needs?

For example,

[code]

[2016-02-29 21:30] russtee commented on #53
worked first time. thanks a lot.

[2016-02-29 21:30] #53 closed

[2016-02-29 21:32] russtee commented on #51
that would work. However do I actually need the key as I would most likely already have it from the cursor iteration function?

[2016-02-29 21:36] Venemo commented on #51
What do you mean? Can you post some example code of how you would be comfortable using it?

[2016-02-29 21:37] Venemo commented on #53
Awesome, glad I could help! :)

[2016-02-29 21:44] russtee commented on #51
[code]
As a hack/test I changed my local copy of the library to return the value instead of the key when 'convertFunc' was set.

Probably not they way you would want to do it but it seems to work and solves the problem we have.

[2016-02-29 21:57] Venemo commented on #51
But then this would make it impossible to see the current key.

[2016-02-29 22:02] russtee commented on #51
We use the value from goToNext etc. as we always call that prior.

[2016-02-29 22:03] Venemo commented on #51
I see. Okay, let me think about it a bit more and I'll get back to you guys.

[2016-03-01 02:50] Matt-Esch commented on #49
Perhaps. I am using LMDB to index a large collection of translation strings from a read-only database. I was hoping to make use of the zero-copy property of LMDB to avoid string copies, but I don't know how long the string lives for other than it is a finite amount of time in the order of seconds (typical request cycle). A GC hooked transaction would be nice in this use case.

Buffers in node use

[2016-03-01 07:59] Venemo commented on #49
You know exactly how long the string lives: until you close the transaction with which you read it. (Meaning either commit or abort.) The memory in which they reside is owned by LMDB and is only guaranteed to be intact while you keep the transaction open.

If you need your strings for a longer time than that, you can copy them using one of the ways described above.

However since you are not the o

[2016-03-01 13:59] russtee opened #55 "get current cursor as binary"
Imdb dbs created by other modules (e.g. rvagg) store their cursors as binary data.

For our importing script I was attempting to get around this by casting the string cursors from node-lmdb to binary and then to utf8, this works some of the time but always leads to corruption.

A simple function to getTheCurrentCursorAsBinary would seem to get around this.

We hacked together a fix as such and it'

[2016-03-01 15:37] Venemo commented on #55
It is unclear what exactly you are asking here.

Sorry, but I don't know what you mean by *store their cursors as binary data*. If you mean that the keys are binaries, we are already talking about that in issue #47, and if you mean that the data is a binary, you can use `getCurrentBinary`.

[2016-03-01 18:49] Venemo commented on #55
Okay, so let's cover this in #47 - I already know how I'll do it, don't worry. :)

[2016-03-01 18:49] #55 closed

[2016-03-01 19:26] russtee commented on #55
Great stuff. Will really help.

Sent from my iPhone

On 1 Mar 2016, at 18:49, Timur Kristóf <notifications@github.com<mailto:notifications@github.com>> wrote:

Okay, so let's cover this in #47<https://github.com/Venemo/node-lmdb/issues/47> - I already know how I'll do it, don't worry. :)

—
Reply to this email directly or view it on GitHub<https://github.com/Venemo/node-lmdb/issues/55#issuecomment

[2016-03-03 18:22] xinli2k5 commented on #48
`$ node -v`
`v0.10.32`

[2016-03-04 04:40] braydonf commented on #45
Okay, took a first pass on this.

[2016-03-04 06:58] #45 closed

[2016-03-04 07:02] Venemo commented on #45
Thank you @braydonf I accepted #57, nice work!

[2016-03-04 07:04] Venemo commented on #48
I haven't tested with 0.10 for a while, but @Matt-Esch did, so maybe #56 will fix this.

[2016-03-15 23:27] nikunjy commented on #48
Tried building on OS X and have similar issues

  CC(target) Release/obj.target/node-lmdb/libraries/liblmdb/mdb.o
../libraries/liblmdb/mdb.c:9671:46: warning: data argument not used by format string [-Wformat-extra-args]
                                (int)mr[i].mr_pid, (size_t)mr[i].mr_tid, txnid);
[code]

[2016-03-27 14:07] matthiasg commented on #2
testing on windows 10 compared to OS X i would like to understand why example7-largedb states a db site of a constant 16384 MB while the node version on OS X comes up with 2.2GB-2.5GB .. i would assume thats because of system ram compression on OS X, but would prefer some more details on that.

PS: i added the files mentioned above to the windows folder before it would build. @Venemo did you find

[2016-03-27 14:49] Venemo commented on #2
@matthiasg I believe the size difference is because memory-mapped files behave differently on Windows. I recall reading something about this, but can't find the link right now.

[2016-03-29 22:51] Venemo commented on #52
@Matt-Esch I'll review all the code and publish a new version this week. Thank you for your patience!

[2016-04-13 20:59] guymguym commented on #48
Hi, same issue with node 4.4.2(OSX 10.11.4):

[code]

[2016-05-19 12:41] yetzt commented on #52
@Venemo next week was some weeks ago now. i'd really like to reference this module in my package.json from npm instead of from git. would you please be so kind and `npm publish` now?

[2016-05-19 13:47] Venemo commented on #52
Sorry guys. I published it now!

[2016-05-19 13:48] Venemo commented on #52
New version number is 0.4.1 :)

[2016-05-19 21:58] yetzt commented on #52
yay, thanks!

[2016-05-20 05:26] #52 closed

[2016-05-20 12:31] AlgoTrader opened #58 "Node.js 6.x problems"
All the examples show lots of warnings like this

[code]

and follow huge stack traces. When node 6.x will get support?

[2016-05-20 13:19] Venemo commented on #58
@AlgoTrader Thanks for reporting this! I'll take a look and see what's the problem there.

[2016-05-24 10:55] Venemo commented on #58
@AlgoTrader Have you tried with the latest version?

[2016-05-24 11:09] AlgoTrader commented on #58
latest npm

[2016-05-24 12:54] Venemo commented on #58
@AlgoTrader Can you please give me some more details about the problem? Ie. which exact version of node did you use, which exact version of node-lmdb did you use? Also, what errors did you get? (If it is long, please use a pastebin and post a link to the paste here.)

[2016-05-24 13:33] AlgoTrader commented on #58
Just npm install node-lmdb. Node is
[code]

run `node any_example.js` and you see the stuff:

[code]

New node uses very modern V8, you have to update C bindings

[2016-05-24 14:31] Venemo commented on #58
Thanks @AlgoTrader for the details, I'll install node 6 myself and see what I can do about this.

[2016-06-26 20:55] braydonf opened #61 "Managing LMDB dependency docs"
The docs at https://github.com/Venemo/node-lmdb#managing-the-lmdb-dependency seem to be outdated, has the process changed?

[2016-06-27 01:59] braydonf opened #68 "Handling two write transactions attempted"
As there can only be one write transaction at time, attempting to begin two write transactions with the same environment will result in the process locking that is impossible for the code to exit without being terminated externally.

[code]

A few ideas:
- throw an error on the second attempt
- return null
- asynchronous callback option that could wait until a write transaction could be obtained

[2016-06-27 02:19] braydonf commented on #68
Here is a possible test case:
[code]

[2016-06-27 08:28] Venemo commented on #61
Thank you @braydonf for spotting this. I believe the only thing that's changed is the address of the LMDB repo. I'll fix the readme to reflect that.

[2016-06-27 08:31] Venemo commented on #68
I believe the proper course of action would be to simply throw an error on the second attempt. This is the simplest and easiest-to-understand solution. :)

[2016-06-27 08:36] Venemo commented on #37
Let's close this isse. We can reopen it if/when LMDB itself supports such a feature.

[2016-06-27 08:36] #37 closed

[2016-06-27 11:51] braydonf commented on #61
I wasn't able to get the subtree portion to work properly either after using an updated git url. I ended up cloning openldap (from http://www.openldap.org/devel/gitweb.cgi?p=openldap.git;a=summary) at the LMDB tag in another repository and copying the files into `libraries/liblmdb`.

[2016-06-27 12:26] Venemo commented on #61
Looks like the last time it was updated the proper instructions weren't followed, that's why it isn't located at the said prefix. Sorry for the inconvenience; I'll handle this. :)

[2016-06-27 12:53] Venemo commented on #61
@braydonf I've updated the lmdb dependency, it should work properly now. Can you please check if it works for you?

[2016-06-27 12:55] Venemo commented on #58
Okay, I can reproduce the issue on node v6.2, I'll see what I can do about it. Apart from the weird stack traces that it prints, the example code seems to work fine otherwise.

[2016-06-27 12:58] Venemo commented on #48
@xinli2k5 @guymguym Could you guys try this again with the latest revision?

[2016-06-27 14:43] braydonf commented on #61
It works, though it's not necessary to run `git subtree add` as the path already exists *(as stated)*. The other question is specifying which tag to pull from?

[2016-06-27 14:49] braydonf commented on #61
I think it's just using the tag instead of HEAD:
[code]

Looks good to me!

[2016-06-27 22:04] #61 closed

[2016-06-27 22:05] #43 closed

[2016-06-28 12:52] braydonf commented on #68
It looks like `env->me_txn` could be used to check if there is an existing write transaction for the environment.

http://lmdb.tech/doc/group__internal.html#a41f4abc70ee54d822f4674d48d4c4461

[2016-06-30 06:12] lukas-zech-software opened #69 "Zero-copy strings lead to segmentation fault after closing the environment"
I recently ran into an issue where NodeJS reproducible crashed with an **Segmentation fault** error when trying to access data read from an node-lmdb environment.

The scenario was this: Small LMDB environment, 3 test entries **keyIsUint32** was set to **false**, UTF8 string with about 12 characters where used as keys. Data was binary buffer.

The data was read with a cursor using **getCurrentBina

[2016-06-30 22:51] braydonf opened #71 "Buffer issue with key from `cursor.getCurrentBinary`"
In the test case below, this line results in an empty buffer, however the string `key` has a value.
[code]

[code]

[2016-06-30 23:04] braydonf commented on #69
Good to know, could be good to note that the `env` is expected to be held open for the duration of accessing values and the application?

I've run into an issue when calling `new Buffer(key)` from `getCurrentBinary` (https://github.com/Venemo/node-lmdb/issues/71) I'm curious how it was working in the case above or if you have you seen this behavior.

[2016-06-30 23:29] braydonf commented on #48
FYI, tested the build on another machine running OSX 10.9.2 and all tests are working with Node.js v4.4.7.

[2016-07-01 08:53] lukas-zech-software commented on #69
@braydonf
Copying the key to a new Buffer worked flawlessly for me, only difference I can see in your implementation is the Encoding. I used **UTF8** while you use **HEX** - although I can't see why this should make any difference.

Which NodeJS version are you using?
I did my tests on ``v5.7.0``

If you can upgrade your NodeJS, try ``v6.0`` or above and try the new ``Buffer.from`` methode

[2016-07-01 11:45] braydonf commented on #69
Still saw the issue when using `utf8` encoding. I tried running with `v6.2.0` and there was the same issue using `Buffer.from`.  However there are a bunch of other `C stack traces` with warnings about `v8::ObjectTemplate::Set() with non-primitive values is deprecated`. Also tried node `v5.7.1`, and `v4.4.5`. I've been using `new Buffer(key.slice(0))` to work-around it.

[2016-07-02 13:01] braydonf commented on #69
FYI: This may be covered in the docs already at: https://github.com/Venemo/node-lmdb#limitations-of-node-lmdb

[2016-07-02 13:03] braydonf commented on #69
This issue I think is also related: https://github.com/Venemo/node-lmdb/issues/49

[2016-07-02 13:45] braydonf commented on #69
It actually looks like the issue isn't when the transaction is closed, but when the environment is closed. Also it only affects the key and not the value.

[code]

[2016-07-03 11:56] Venemo commented on #61
@braydonf Yes, you can use any ref, not just HEAD. I used the LMDB_0.9.18 tag like you said.

[2016-07-03 11:59] Venemo commented on #48
Thanks @braydonf for taking a look at it. I'll wait a little bit for the other guys to test and then close this ticket. :)

[2016-07-03 12:01] Venemo commented on #68
It is generally unwise to use the internals of any library in custom code, because there is no API guarantee for it to work the same way in new versions.

[2016-07-03 12:03] Venemo commented on #71
Ouch. I'll look into this as soon as I can.

[2016-07-03 12:18] Venemo commented on #69
Hey guys,

Sorry for chiming in so late; I owe you an explanation. Quoting the LMDB documentation:

The fact that it works for you that way and they are still valid after you close the transaction but haven't yet closed the environment is mere chance and I wouldn't rely on this behaviour.
When I started `node-lmdb` my goals were to preserve as much of the speed benefits of lmdb as possible, so I d

[2016-07-03 13:01] braydonf commented on #68
Indeed, I wasn't successful is using `me_txn`, and received this error when compiling:

[code]

[2016-07-03 13:36] braydonf commented on #69
In response to ideas listed:

1. This could make it more clear that the value is no longer accessible due to the transaction closing, but should be careful how it would affect performance. How would this apply to buffers? I haven't been able to reproduce the issue with buffer values returned.

2. I agree, it would be better to throw an error than to silently fail that could cascade into other bugs

[2016-07-03 13:45] braydonf commented on #71
This would also be resolved by having keys as Buffers as mentioned in https://github.com/Venemo/node-lmdb/issues/47#issuecomment-188282039

[2016-07-03 18:38] Venemo commented on #69
Yes, the issue should affect binaries as well. Although I believe currently there is something going on with regards the binaries. (I would need to review the code again, but I think the guy who ported it to nan v2 kind of forgot to make them zero-copy in the first place.)

Regarding your feedback about the ideas: I believe number 1 is the way to go. The performance loss would be basically the eva

[2016-07-04 07:25] lukas-zech-software commented on #69
I agree that the performance should always have the highest priority in LMDB, thats one of the main reasons we use it.
On of the reasons why LMDB is so fast ist because it relies on the the developer to handle it correctly and not having a lot of checks/error handling internally to avoid development errors.

If you read the LMDB mailing list most of Howard Chu's answers come down to

And for error

[2016-07-04 16:29] braydonf commented on #69
Just took a look at it and it currently looks like `getBinary` and `getCurrentBinary` are using `valToBinary`, implemented as:

[code]
From: https://github.com/Venemo/node-lmdb/blob/23a2bca022c121ee6368568e39b2beba7525c5fa/src/misc.cpp#L97-L104

Taking a look at the Nan documentation, and with `Nan::NewBuffer` states:

https://github.com/nodejs/nan/blob/master/doc/buffers.md#buffers

And indeed ch

[2016-07-19 12:48] #49 closed

[2016-07-19 12:48] #71 closed

[2016-07-19 12:57] Venemo commented on #69
I believe that @braydonf 's patch is a nice way forward, but I'm still pondering whether the zero-copy should be the default behaviour or not. In any case, it looks nice so far, but I'll review it further and let you know what I think.

[2016-07-19 14:00] #58 closed

[2016-08-16 06:06] iacovlev-pavel opened #75 "Building on Windows with 32bit architecture results in an error"
`nw-gyp rebuild --target=0.14.6 --arch=ia32`

[code]

Building with --arch=x64 works.

[2016-08-16 07:58] Venemo commented on #75
@iacovlev-pavel Looks like this is a problem with LMDB itself, not with the node module. I'll try to look into it.

[2016-08-18 19:19] mux commented on #47
Is this still being worked on? I am currently unable to use this module in our node.js regression testing framework as unfortunately, the keys we use when creating and populating the LMDB database in C code are plain ASCII. Having this feature would help us tremendously.

[2016-08-22 15:09] Venemo commented on #47
@mux Yes, sorry for the slowness. This is still a planned feature and it will arrive eventually.

To be honest, I currently don't have any projects that would depend on `node-lmdb` so that's why it's going forward slowly these days.

[2016-08-22 15:13] Venemo commented on #68
@braydonf How would you feel about simply throwing an error on trying to open a second write transaction in the same process?

[2016-08-22 15:29] braydonf commented on #68
Sounds good to me.

[2016-08-26 20:53] rneilson commented on #51
Let me +1 just returning the value from getCurrent*() -- you'll always have the current key as the return value of cursor.goTo*(), and the callback makes any iteration (by loop, or especially by  forEach(), map(), reduce(), etc) much clumsier.

[2016-09-08 21:39] DanielMazurkiewicz opened #76 "cursor.goToDup doesn't work when keyIsUint32 is used"
var lmdb, env, dbi;

lmdb = require('node-lmdb');
env = new lmdb.Env();
env.open({
    // Path to the environment
    path: "./testdata",
    // Maximum number of databases
    maxDbs: 10
});

try {
    // If the database exists, drop it
    dbi = env.openDbi({
       name: "example5-dupsort-uint",
       dupSort: true,
       keyIsUint32: true,
    });
    dbi.drop();
}
catch (err) {}
dbi = env.o

[2016-09-09 02:51] braydonf commented on #68
I've been using an `async.priorityQueue` with a concurrency of 1 and scheduling write tasks to make sure that only one write transaction is open a time.

[2016-09-10 00:24] rneilson commented on #76
This isn't actually a bug with `keyIsUint32`, it's a bug with `goToDup()` and 'goToDupSort()` with string or buffer data, where the data is being initialized from the *third* argument, not the second. Try repeating the 2nd argument in your calls to `goToDup()` and you'll see what I mean. I've submitted PR #77 for a fix.

[2016-09-10 01:24] rneilson commented on #51
I've submitted PR #78, which I think is a workable compromise. The callback interface is still present, if you need both key and value together, but `getCurrentString()` and friends return the value instead of the key regardless, meaning they can be used without a callback if desired. Also, there's no extra conversion overhead, since I merely relocated the call to `convertFunc(cw->data)`.

[2016-09-10 11:52] #76 closed

[2016-09-10 11:53] Venemo commented on #51
Thank you @rneilson for your work. This is much better than what we had before, so it's a step in the right direction. :)

[2016-09-10 11:54] Venemo commented on #76
@rneilson Awesome, thank you for spotting and fixing this issue!

[2016-09-10 12:28] DanielMazurkiewicz opened #79 "Can not delete when dupSort is true"
Docs:

http://lmdb.tech/doc/group__mdb.html
mdb_del (MDB_txn *txn, MDB_dbi dbi, MDB_val *key, MDB_val *data)

I guess the reason is nullptr at the end:

https://github.com/Venemo/node-lmdb/blob/master/src/txn.cpp
int rc = mdb_del(tw->txn, dw->dbi, &key, nullptr);

[2016-09-10 13:40] rneilson commented on #76
@Venemo No problem!

[2016-09-10 13:41] rneilson commented on #51
@Venemo You're quite welcome.

[2016-09-10 18:24] rneilson commented on #79
I noticed that just now, too.

Now that `goToDup()` is working, I've been using `cursor.del()` instead of `txn.del()`, but now that I have an inkling of what's going on, I'll see if I can get a patch together soon, and hopefully @Venemo can merge it.

[2016-09-10 19:36] rneilson commented on #79
PR #80 is in. If you need it now, you can get it from my branch: rneilson/node-lmdb@10ef6a7c3a25e730ec133c74a4d943f129e555ff

[2016-09-16 22:34] mzedeler opened #81 "Deprecation warning on node v6"
node-lmdb produces a lot of deprecation warnings when run with node.js version 6 and up:

v8::ObjectTemplate::Set() with non-primitive values is deprecated

The call will be deprecated in version 7, but it is already quite annoying because the screen fills with deprecation warnings...

[2016-09-16 23:13] braydonf commented on #81
Are you running the latest master, because some of the warnings have been cleared with: https://github.com/Venemo/node-lmdb/commit/bda3aa5ff0bd01c87dd40cde0def05ce7884582e

[2016-09-16 23:14] braydonf commented on #81
There are still a few deprecation messages when running `node-gyp rebuild` with Node.js v6.

[2016-09-17 21:48] mzedeler commented on #81
I didn't build from master - just the latest version available with npm (version 0.4.1).

But it's great to know that you've started looking into getting them fixed.

[2016-09-19 14:51] Venemo commented on #81
Try latest master, @braydonf submitted a pull request that improves on this.

[2016-09-21 00:04] braydonf commented on #47
Added support to use buffers for keys in this PR: https://github.com/Venemo/node-lmdb/pull/83

[2016-09-21 12:01] Venemo commented on #47
Thanks @braydonf
I'm gonna review all the latest changes and if everything's okay, I'll do a new release on npm.

[2016-09-23 11:49] russtee opened #84 "cursor 'goto' functions return garbage for buffer based keys."
On testing the new key as buffer functionally I've noticed that in the case of a buffer key the cursor 'goto' functions return a garbage string when I was expecting a buffer.

Some test results showing this behaviour:

[code]

and the test code that produced them:

[code]

[2016-09-25 07:42] Venemo commented on #84
Looks like @braydonf has forgotten this use case.

[2016-09-26 21:07] braydonf commented on #84
Perhaps there could be a `goToNextBinary`, and etc. methods for getting the key as a buffer if only the key is needed. Otherwise `getCurrentBinary` will give back the key as a buffer.

[2016-10-31 17:36] mux commented on #47
Hi @Venemo ! Thank you for taking care of this. Any ETA on the npm release?

[2016-11-14 12:43] lukas-zech-software opened #85 "openDbi crashes if try to open named Db that does not exist"
Given an environment with no databases in it, the following will crash in the C++ code:

[code]

Error message:
[code]

According to LMDB documentation `mdb_dbi_open` returns error **MDB_NOTFOUND** if a named database was not found

Expected behaviour would therefore be to throw an Javascript exception with **MDB_NOTFOUND** so that user code can handle it.

This was the behaviour before commit 5a6

[2016-11-15 11:53] #85 closed

[2016-11-15 11:58] #79 closed

[2016-11-15 12:26] Venemo commented on #47
@mux Sorry for my late reply. A new version has now been published on npm! :)

[2016-11-15 12:30] Venemo commented on #46
I'd need to check how libuv evolved since I last thought about this, but yes, creating a custom thread and scheduling all the work there might be the correct answer. However, there still remains the question of API compatibility, the current API wasn't designed for this use case.

[2016-11-15 12:32] Venemo commented on #48
Since there is no more feedback on this issue, I'll take it that the current version works correctly on OS X. Please open another issue if you guys see any problems.

[2016-11-15 12:32] #48 closed

[2016-11-15 12:56] russtee commented on #84
This still seems broken in the latest release. Any thoughts on the best resolution?

Separate get functions for binary keys could work albeit adding to complexity of the library. Perhaps an optional parameter for each goto function to return the key in binary form would suffice?

Either way it seems that mixing key types within a database will not work but as long as this is understood I don't see

[2016-11-15 14:18] mux commented on #47
Awesome! Thank you a so much @Venemo!

[2016-12-09 16:41] mux opened #87 "Build error on old node v0.10"
I cannot seem to build node-lmdb 0.4.3 properly. It looks like the NewInstance method the code is trying to use isn't defined somehow, see output below. Any help would be greatly appreciated.

Thanks!

[code]

[2016-12-09 17:50] Venemo commented on #87
Thanks for reporting this! Could you please give me some more details? Such as:

* What operating system are you running? (And which version?)
* Which node version do you use?
* Did you run `npm install` before attempting to build the module?
* Did you make sure that you have the latest revision before attempting to build the module?

[2016-12-09 18:09] mux commented on #87
My apologies, I should have given you this information to begin with - I was hoping this would be an obvious issue due to some functions being deprecated or something.

Anyways:

- System is Ubuntu:

[code]

[2016-12-09 19:09] Venemo commented on #87
Can you also give me your node version? Just run `node --version`.

[2016-12-09 19:15] mux commented on #87
Oops, sorry, here it is:

[code]

[2016-12-09 19:51] Venemo commented on #87
Could you try with a newer node version? `v0.10.25` is very old.

[2016-12-09 21:27] mux commented on #87
I'm currently negotiating this with admins here to get at a newer version, I'll let you know!

[2016-12-13 21:22] mux commented on #87
I can confirm that node-lmdb builds just fine using node 4.x. Unfortunately the upgrade isn't easy as we depend on other packages that don't work for node 4. I'm still trying to work around these issues, but if you happen to have a workaround to allow building with 0.10.x that would be great.

[2016-12-13 22:20] braydonf commented on #87
Maintenance period has ended for v0.10, as from: https://github.com/nodejs/LTS

[2016-12-14 08:02] Venemo commented on #87
I don't know if we can support node 0.10. The compilation error comes from a library we depend on (called nan), so if they don't support node 0.10 then there isn't much we can do about it.

@mux If you are looking for a woraround, the simplest would be to just use an older version of node-lmdb.

[2016-12-15 20:38] andrenventer opened #88 "Build errors with node-lmdb@0.4.3 (node v7.2.1 os x 10.11.6 XCode 8.2)"
➜  ~ npm -g install node-lmdb

  CC(target) Release/obj.target/node-lmdb/dependencies/lmdb/libraries/liblmdb/mdb.o
../dependencies/lmdb/libraries/liblmdb/mdb.c:9846:46: warning: data argument not used by format string [-Wformat-extra-args]
                                (int)mr[i].mr_pid, (size_t)mr[i].mr_tid, txnid);
[code]

[2016-12-16 17:04] Venemo commented on #88
@andrenventer Hi! Thanks for reporting this. I don't see any errors in the build you posted, only a few warnings. Can you please elaborate on what issue you see exactly?

[2016-12-17 20:40] aholstenson commented on #88
I'm seeing a similar issue on OS X 10.10:
[code]

Modifying `binding.gyp` to use MACOSX_DEPLOYMENT_TARGET seems to solve the issue. I'm unsure if this has any side effects though, I have not tried compiling on a older or newer OS version.

Diff for change:
[code]

[2016-12-17 21:08] Venemo commented on #88
They should be similar according to [this StackOverflow post](http://stackoverflow.com/questions/25352389/difference-between-macosx-deployment-target-and-mmacosx-version-min-compiler-op) but anyway if it does work with this change, can you please submit a pull request?

[2017-03-10 11:57] ousado commented on #84
A scenario where one would want heterogeneous types of keys within the same database seems highly unlikely, hence the best option would be to associate the key type with the Dbi - as it's already done in case of keyIsUint32.
An option keyType with constants for String, Binary, UInt32 (and maybe more) should be passed to openDbi and always used. That requires to add a field with that information to

[2017-03-10 13:48] Venemo commented on #84
@ousado Indeed, that sounds good. I'll think about it and get back to you guys next week about this.

[2017-03-16 09:24] Venemo commented on #84
@da77a Yeah, that sounds reasonable!

[2017-03-17 01:23] da77a commented on #84
On second thoughts - not reasonable enough. Because it is a key it's dangerous/incorrect to hide the distinction between 'a' and 'a\u0000' as (actual, in lmdb) keys. So on second thoughts node-lmdb "keys are strings" API needs to error if it reads a key without terminator. Code that needs to handle such keys must use the "keys are binary" API . As to how that should work - the simple fix of adding

[2017-03-17 14:09] ousado commented on #84
I don't agree with those conclusions. There's no need for a terminator - the only correct way to reconstruct a string is by using the original length, NaN certainly has an API for that, and it should be used. Relying on the presence of a terminator is a bug, and an extremely nasty one at that. Further \u0000 is a valid unicode character that can be part of Strings.

Regarding support for additiona

[2017-03-18 05:53] da77a commented on #84
@ousado , you state you don't agree but I don't follow your argument. I've assumed familiarity with the lmdb database and node-lmdb code not just what is exposed via the interface via node-lmdb.

The reliance on terminating \u0000 is not a proposal, it has always (ok, since [this commit in 2013](https://github.com/Venemo/node-lmdb/commit/ad2071a7ebd2351feb8f3ce7cdbf8730e954185d)) been node-lmdb be

[2017-03-18 06:56] da77a commented on #84
I am writing something to address this bug including the related issues. I'd like to have a pull request accepted, hence the below which describes the issues and proposed fixes (some with options). I'll make up my own mind on the options unless @Venemo wants to tell me what will or won't be accepted (or anyone wants to point out the flaws).

The conclusions I posited originally included a brainfar

[2017-03-18 08:22] ousado commented on #84
Backwards compatibility is obviously a concern that should be addressed, perhaps by introducing a backwards compatible mode for terminator-aware key handling (but without the potential of reading outside the bounds of the actual key) - and should always use one of
[code]
or whichever other length-aware conversion.

[2017-03-18 17:30] Venemo commented on #84
@da77a @ousado Thank you guys for the discussion!

I've been thinking about this more and I'm absolutely certain that this is a bug that was introduced when we decided that zero-copy should not be the default behaviour of node-lmdb.

The older, "unsafe" implementation does the right thing: the behaviour when using the zero-copy mechanism with `CustomExternalStringResource` (which predates the newe

[2017-03-18 21:24] Venemo commented on #84
@da77a @ousado Also, the issue about zero-terminated strings has nothing to do with #84 which is about cursor-based keys - these are two different topics alltogether.

[2017-03-19 04:24] da77a commented on #84
@Venemo - the issues are related in that now that there is support for "binary" there is at least some expectation/possibility that one might try (accidentally or otherwise) to read "binary" as a "string". Which is exactly what this issue reports.

But sure, I'll raise a separate bug report of the failure to check length issue on "safe" string get. It's still easier to discuss the related issues o

[2017-03-19 05:28] da77a opened #93 "LMDB Safe String Buffer Over-read"
When copying from lmdb storage to the "safe" Node string, no check is made that the data being copied is zero terminated. In particular, this problem shows up when reading keys or data that, if written by node-lmdb, were written as binary, or if written to the lmdb database by some other code, that code did not elect to use UTF-16 with zero terminator as its data/string format. Behaviour is variab

[2017-03-19 08:21] Venemo commented on #93
This bug was introduced by this commit, in july 2016: https://github.com/Venemo/node-lmdb/commit/9f56eeb428e4fc707bebfb5af1b227b168ef4d13 when the old `valToString` function was renamed to `valToStringUnsafe` and a new implementation of `valToString` (intended to be safe) was introduced.

I also checked the V8 docs: https://v8docs.nodesource.com/node-4.6/d2/db3/classv8_1_1_string.html#a237a2b794f3

[2017-03-19 08:34] da77a commented on #93
I trust the reference to v8::String::Write with a length is not suggesting a change that will use it (and not include 0 terminator)? Obviously that will break existing databases.

And as per all the talk in #84  thread, the lack of 0 terminator on read  should be detected and treated as an error (the error is: "This value cannot have been written by existing node-lmdb string interface so can't be

[2017-03-19 08:34] Venemo commented on #93
The current node-lmdb implementation **always** adds a zero-terminator automatically when saving a string:
https://github.com/Venemo/node-lmdb/blob/master/src/misc.cpp#L171

This zero-terminator however is added "just in case", and is not actually passed to V8, when using the `CustomExternalStringResource` class:
https://github.com/Venemo/node-lmdb/blob/master/src/misc.cpp#L181

[2017-03-19 08:36] Venemo commented on #93
So the only bug here that I can think of is when a string contains an extra zero in the middle, eg. if you save `"Hello \0 world!"` it will be read back as `"Hello "` because of the faulty `valToString` implementation.

[2017-03-19 08:39] Venemo commented on #93
@da77a I wrote a test case for the `"Hello \0 world"` case, and it indeed fails. But since the zero terminator is automatically added to the database, I don't think there are other errorneous cases. But if you can give me another failing test case, I'll investigate it further.

[2017-03-19 09:07] da77a commented on #93
@Venemo - I only created this separate incident because you stated the 0 terminator issue was unrelated to issue #84 , in which I was discussing it. I actually do think it is related and the whole problem is described there. If you think undefined behaviour (anything from "garbage" to a bus error) on trying to read something that was written in a different format is acceptable that's where we disa

[2017-03-19 09:51] Venemo commented on #93
@da77a Okay, I believe now I understand your point. Sorry for the confusion. Looks like this is indeed the same issue as #84. Let's keep it in #84 then.

[2017-03-19 09:51] #93 closed

[2017-03-19 10:09] Venemo commented on #84
Okay, so I investigated a bit more on the topic. Basically as far as I see, @russtee attempted to save something as a buffer and then read it back as a string. For starters, JavaScript strings are encoded in UTF-16, and @russtee stored a UTF-8 string (the default encoding of `Buffer` is `'utf8'`).

* Obviously, it should NOT read garbage from the memory. This is now fixed with https://github.com/V

[2017-03-19 10:41] Venemo commented on #84
I added a failing testcase for reading back buffers as strings (with the correct encoding): https://github.com/Venemo/node-lmdb/commit/c0d879993e3854b2727941016e509747e0a6d171

Now the only thing that remains up for consideration is backwards-compatibility with old databases. Right now node-lmdb automatically adds zero-termination for every string (and expects the presence of the zero terminator),

[2017-03-19 10:54] Venemo commented on #84
To tie up one more loose end, I documented the UTF-8 use case in the readme.

[2017-03-19 10:54] ousado commented on #84
My preferred solution would be (2) and (5), using an option to openDbi that selects the key type for the database, among them e.g. "LegacyString" for the compatibility mode.

[2017-03-19 11:36] Venemo commented on #84
I'm fine with (2) and (5), let's hear what @da77a has to say about it. :)

[2017-03-19 11:38] Venemo commented on #47
Now that the buffer-based API is in place, I'll close this. I also added some documentation regarding working with UTF-8: https://github.com/Venemo/node-lmdb/commit/524a3bef216e8273872ad59acdc5d3a5dcfac6a5

[2017-03-19 11:38] #47 closed

[2017-03-19 11:40] da77a commented on #84
@ousado and @Venemo.

None of the 5 (4) proposals actually addresses the issue we are commenting on! So I vote for 3.

Views on each:

   1) My real use case is broken by this change. Interesting fix - but you are still thinking as though every access to a database is via same library/language/code. That in my experience is rarer than you appear to think. Asking every other bit of code to stick 0s

[2017-03-19 11:43] da77a commented on #84
The value (data) interface already makes it easy to chose which way you want your data cooked. Which explans my 3 vote.

The Cursor key interface is the only problem. Cursor tries to guess key representation from value representation which is rather odd, and it gives up and returns a string if there is no value involved. In all other cases (transactions) the key is an in parameter and you can pass

[2017-03-19 11:43] Venemo commented on #69
I'm satisfied with the current API, so let's close this old issue.

[2017-03-19 11:43] #69 closed

[2017-03-19 11:44] Venemo commented on #88
Since #89 is supposed to fix this, I'm closing it now.

[2017-03-19 11:44] #88 closed

[2017-03-19 11:45] Venemo commented on #81
@mzedeler Do you still experience this problem?

[2017-03-19 12:07] Venemo commented on #81
I believe I have fixed the last deprecation warnings now, so I'm closing the issue. Please reopen if you find any more problems with it.

[2017-03-19 12:07] #81 closed

[2017-03-19 12:20] Venemo commented on #84
@da77a Thanks for your input, it is much appreciated!

Yes, that was my assumption as well! I'd vote to leave the string handling as it is (and maybe re-think it later along with other major redesign-related issues like #46 or #51).

I'd say that the buffer keys feature is (as of now) conceptually broken. This is because I was too lazy to think about possible implications when I reviewed and merge

[2017-03-19 12:51] ousado commented on #84
Different key types per database make no sense - where would one get the information which type of key a given entry has? From another database? Based on the value of the key itself? That strikes me as beyond esoteric. `openDbi` is the right place to determine the key type in a single place, and everything else should just use that information.

[2017-03-19 13:19] da77a commented on #84
Sure, by all means put the parameter in the dbi. The only class that will actually honour/use it unless someone has plans for more (breaking) changes to the node-lmdb API will be Cursor. So if you don't mind I'll implement it in Cursor, and if anyone (you perhaps?) wants to project it through from the dbi feel free.

The comparison to the special case for integer is a red herring. MDB_INTEGERKEY i

[2017-03-19 15:10] Venemo commented on #84
@da77a I don't mind the breaking change, especially considering that the current behaviour is simply wrong. I agree with @ousado in that it only makes sense to use a single key type per database. I imagine that a compatibility switch to trigger the old (current, buggy) behaviour might come in handy for those people that use this API, but to be honest I don't believe this is necessary.

[2017-03-19 16:10] da77a opened #94 "Cursor functions that take key parameters leak"
The argToKey function returns a "deleter" function used by get/put fns to clean up the "in" parameter. Cursor goToKey etc discard this return value.

[2017-03-20 05:54] Venemo commented on #94
@da77a Nice catch! I've fixed this with https://github.com/Venemo/node-lmdb/commit/6244c952b34882e546fb8e56c76c8090f6397d5d

[2017-03-20 05:55] Venemo commented on #94
Can you please verify that it works correctly now?

[2017-03-20 06:02] Venemo commented on #84
@da77a @ousado The current string VS buffer behaviour (and the need for the terminating zero) has now been documented as of https://github.com/Venemo/node-lmdb/commit/cb2dd744af636d349113f2c9ae020e5569402c27 and a passing testcase has been added.

So, for now:

* Let's leave the zero termination as-is (and maybe later add an option to change this behaviour?)
* Let's fix the buffer keys feature to

[2017-03-20 06:05] Venemo commented on #94
Oh my god... maybe this is related to #31

[2017-03-27 00:17] NodeGuy opened #95 "Possible to expose Immutable.js like interface?"
I just discovered LMDB and understand that under the hood it uses COW.  Would it be a lot of work to expose a persistent API similar to [Immutable.js](https://facebook.github.io/immutable-js/)'s?

[2017-03-27 13:28] Venemo commented on #95
@NodeGuy Taking a look at your link, as far as I see, the node-lmdb API is already quite similar (although the method names are different, but the semantics are similar).

If you have a specific proposal in mind, I'd be happy to listen to your idea.

[2017-03-27 17:26] NodeGuy commented on #95
Thank you for your consideration.  It inspired me to dig more deeply into the documentation and there I was able to see that what I'm asking for is long-lived transactions and that LMDB is not designed to support them.  Thanks anyway.

[2017-03-27 17:26] #95 closed

[2017-03-30 06:14] da77a commented on #84
Fixed by #96

Or rather, the behaviour is now well defined. @rustee example now returns an empty string (not 'b', and not garbage from buffer over-read) using the "keys as zero terminated strings" interface due to  @Venemo cb2dd74 change.

#96 adds a small tweak to avoid this wandering off into the weeds if someone writes a single BYTE buffer, as @rustee did, because the default char encoding in n

[2017-03-30 20:54] NodeGuy opened #97 "Return 'undefined' instead of null when key not found."
Currently the getters return `null` when the requested key isn't present.  Returning `undefined` instead of `null` would match the behavior of `Map`'s `get` and thus be more idiomatic:

### 23.1.3.6 Map.prototype.get ( key )

http://www.ecma-international.org/ecma-262/6.0/#sec-map.prototype.get

[2017-03-30 21:31] NodeGuy opened #98 "Make transactions read-only by default."
Read-only transactions are safer so it should require less effort when creating them and more effort when making potentially dangerous transactions.

[2017-03-31 08:53] da77a commented on #98
Why are read-only transactions "safe" and write transactions "potentially dangerous"? Currently node-lmdb exposes the underlying lmdb definition of a transaction. The semantics of an lmdb transaction are well specified. Assuming that you mean that any transactions that modify the content of a database are _potentially dangerous_ _writes_ this implies a _read only_ transaction type that does not ha

[2017-03-31 09:19] Venemo commented on #98
You can open a read-only transaction like this:

[code]

[2017-03-31 09:31] Venemo commented on #97
What exactly would be the benefit of returning `undefined` instead of `null`? Right now, changing `null` to `undefined` would be a breaking change to all existing users.

Also, unfortunately, the `undefined` keyword in JavaScript has some bad history, see for example [this StackOverflow question](http://stackoverflow.com/questions/8783510/how-dangerous-is-it-in-javascript-really-to-assume-undefine

[2017-03-31 09:32] Venemo commented on #98
@NodeGuy Also, what exactly would be the benefit of the proposed change? At this time, this would be a breaking change for all existing users.

[2017-03-31 11:33] da77a commented on #94
Works for me. Just a note though - I'm not sure what the motivation is for hanging on to the allocation (and the deleter in CursorWrap.freeKey) in cases where mdb_cursor_get does not change the key mdb. The lmdb interface is quirky with its use of in/out parameters and the MDB_cursor_op parameter to specify what should be done, but as documented (and the lmdb code seems to agree) the ONLY call tha

[2017-03-31 18:29] NodeGuy commented on #97
Thank you for entertaining my suggestion.  The benefit is that it will save time for programmers to use the library by leveraging what they already know, e.g., I was inspired to write this issue after I had to go into the C code of this library to figure out what happens when the key doesn't exist.

Another way to achieve this is to document better the behavior of the getter functions if you're co

[2017-04-01 00:22] da77a commented on #94
Ah - actually - I think there is still a tiny leak... destructor needs to clean up...

Just adding

 if (freeKey)  freeKey(key);

to  CursorWrap::~CursorWrap()

should fix it (untested)...

Alternatively see previous comment about being able to free straight after the call to mdb_cursor_get regardless of whether the cursor mdb was modified by lmdb - always freeing the "current" key by end of call

[2017-04-18 00:41] NodeGuy commented on #98
The benefit would have been avoiding accidental writes but it's not that important to me, thank you for your consideration.

[2017-04-18 00:41] #98 closed

[2017-04-18 11:40] Venemo commented on #98
@NodeGuy I might consider this next time there is a major API redesign, but right now this would be a breaking change for everyone, and as such, isn't worth the effort. Thank you for your suggestion!

[2017-04-23 19:25] NodeGuy opened #99 "Request option to create new databases within transactions."
I can't create a new database within a transaction like this:

[code]

node-lmdb hangs when it gets to `env.openDbi`.

Being able to create a new database while within a write transaction would be very useful to me and is allowed by the Python binding: https://lmdb.readthedocs.io/en/release/#lmdb.Environment.open_db

[2017-04-24 04:46] da77a opened #100 "Can't pass flags to put"
LMDB has a significant optimisation for databases that are mostly appended to (rather than random inserts) that requires use of a flag on put promising to use a key larger than existing. There is no way to set flags on txn put operations.

[2017-04-24 11:20] Venemo commented on #97
@NodeGuy Here's my real problem with `undefined`:

[code]

[2017-04-24 12:37] Venemo commented on #99
@NodeGuy
Thanks for your bug report. The problem here is that when you set `create:true`, `openDbi` tries to be smart and creates its own write transaction to create your database. (Which obviously fails because there is already a write transaction.) The proper solution here would be to allow the user to supply a transaction to `openDbi`. I'll look into it.

Can you tell me what exactly would you

[2017-04-24 12:39] Venemo commented on #100
@da77a The reason why this isn't supported by node-lmdb at the moment is because this feature felt very easy to shoot yourself in the foot with. (And so, would result in data corruption and bug reports from lots of confused users.)

If you have an API proposal in mind, we can talk about it and I'll see what I can do.

[2017-04-24 13:44] Venemo commented on #84
I believe this has been sufficiently discussed, so I'm closing this issue now.

[2017-04-24 13:44] #84 closed

[2017-04-24 15:56] NodeGuy commented on #97
Ha, that's surprising!

[2017-04-24 15:56] #97 closed

[2017-04-24 16:06] NodeGuy commented on #99
Thanks for asking.  I've just implemented my own workaround which is to specify a single unnamed database and to implement sub-databases in JavaScript.  I don't expect that it's as performant as using LMDB's implementation.

My code creates and destroys databases dynamically in the course of making other changes to the key-value store.  For example, when I add a new `goal` to the `goals` database

[2017-04-24 16:52] Venemo commented on #84
@da77a @russtee I've just pushed the proper solution.
You can now specify the key type on the database: `env.openDbi({ keyIsBuffer: true })`, which you can alternatively override on `txn.put`, `txn.get`, `txn.del` etc., and in the 3rd parameter of the `Cursor`. So even if you opened the database wanting to work with a particular key type, you can still override that on a per-operation or per-curso

[2017-04-24 17:09] Venemo commented on #99
@NodeGuy The `openDbi` function now has a new option called `txn`, with which you can specify your own transaction. There is also a new example that demonstrates how you can use it: https://github.com/Venemo/node-lmdb/blob/master/examples/11-createdbi-usertxn.js

[2017-04-24 17:09] Venemo commented on #99
Please verify if it works for you. :)

[2017-04-24 18:24] Venemo commented on #100
I now added the ability to specify put flags:

[code]

Possible flags: `noDupData`, `noOverwrite`, `append`, `appendDup`. It doesn't seem to make sense to support `MDB_RESERVE` because it wouldn't save a `memcpy` from V8 to lmdb.

[2017-04-24 18:25] Venemo commented on #100
@da77a Can you please test and see if this works for you?

[2017-04-25 02:45] da77a commented on #100
I'll test shortly. But lgtm. I agree reserve is impractical, for a number of reasons. Re risks of append. It errors if you do the wrong thing - it will not corrupt the db: [openldap.devel discussion](http://comments.gmane.org/gmane.network.openldap.devel/8612). Thanks.

[2017-04-25 03:27] da77a commented on #84
@Venemo , I agree that being able to set a default key type via dbi so you don't have to specify per cursor constructed is handy. I'm also happy you made the call to immediately remove the "to be deprecated" backward compatible behaviour of guessing the key return type for cursor fns from the data type - I only included that in my changes "just in case" you didn't want to do that... However, can I

[2017-04-25 06:41] Venemo commented on #84
@da77a Regarding the version, what do you suggest? If I simply bump the version number to 0.5 now, would that help?

[2017-04-25 06:44] Venemo commented on #100
@da77a Thanks for clearing that up! In that case, I'm not so worried about it anymore. If you do some tests, can you also please open a pull request with some test cases?

[2017-04-25 07:05] da77a commented on #84
@Venemo - bumping the version certainly makes more sense than breaking changes in a supposedly patch release. Ideally there would be a pure fixes (no API changes 0.4.x with a move to 0.5.x for future dev (and with API changes). Which was the reason (including a fair bit of self interest - non-public code that depends on the API) I was at pains to preserve existing behaviour in my changes.

I reali

[2017-04-25 11:57] Venemo commented on #94
@da77a Ooops! Looks like this isn't as simple as we thought. I implemented your suggestion of freeing the key immediately, but as of now, `cursor.goToKey` is broken. Looks like using `MDB_SET_KEY` instead of `MDB_SET` will fix it.

[2017-04-25 11:57] #94 closed

[2017-04-25 12:03] Venemo commented on #84
@da77a Trust me, I hate making breaking changes as much as receiving them, but I really did consider the buffer-based keys feature to be very broken. That being said, I re-added the type inference logic to `txn.get`, `txn.put` and `cursor`, with the exception of `keyIsUint32` (in which case you are not allowed to override it).

Can you try 0.4.7 and see if it works with your code correctly?

[2017-04-25 12:26] Venemo commented on #99
@NodeGuy `dbi.drop` also received the ability to use user-supplied transactions, so your use-case should be covered now.

Example use:

[code]

[2017-04-25 12:28] Venemo commented on #51
I believe we can agree to close this issue now, the current API doesn't require the use of callback anymore.

[2017-04-25 12:28] #51 closed

[2017-04-25 12:43] Venemo commented on #68
It now throws an error when you try to open a second write transaction. Sorry for taking so long to implement it.

[2017-04-25 12:43] #68 closed

[2017-04-25 14:25] drakiula opened #101 "Build with node-gyp build error in Windows 7 Pro x64"
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install' ]
2 info using npm@4.2.0
3 info using node@v7.9.0
4 silly loadCurrentTree Starting
5 silly install loadCurrentTree
6 silly install readLocalPackageData
7 silly install normalizeTree
8 silly loadCurrentT

[2017-04-25 14:28] Venemo commented on #101
@drakiula What exactly are you doing? How do you reproduce this problem?

[2017-04-25 14:28] Venemo commented on #16
This is now done.

[2017-04-25 14:28] #16 closed

[2017-04-25 14:28] Venemo commented on #15
This is now done.

[2017-04-25 14:28] #15 closed

[2017-04-25 15:03] drakiula commented on #101
I cloned the repository on my Win 7 Pro x64 laptop, then ran "npm install" from within the root folder.

[2017-04-25 15:27] Venemo commented on #101
@drakiula Here is what I did:

1. Created a clean Windows 7 Pro x64 virtual machine on VirtualBox
2. Downloaded and installed latest .NET Framework 4.6.2
3. Installed `windows-build-tools` and `node-gyp` with `npm`:
[code]
4. Build the module
[code]

It seems to work for me. Even the tests are running.

[code]

[2017-04-25 15:28] Venemo commented on #75
@iacovlev-pavel I was able to build it on Win32 now. Can you please verify if the issue still persists?

[2017-04-25 15:34] Venemo commented on #101
Whoah, sorry, I just noticed that I was doing it on a 32-bit virtual machine, not x64. Let me find a 64-bit one.

[2017-04-25 15:57] drakiula commented on #101
I was missing the MS build tools. Running "npm -g install windows-build-tools" has fixed this for me, sorry for the potential spam here :+1:

[2017-04-25 16:04] Venemo commented on #101
@drakiula No problem. I'll document how I did it in the README so future users will hopefully have less trouble with it.

[2017-04-25 16:04] #101 closed

[2017-04-25 16:42] Venemo commented on #2
Okay, so it seems that as of now, node-lmdb can be built correctly on Windows. It is quite painful though (maybe because I don't develop it on Windows), so I added a section that details how to do it.

[2017-04-25 16:42] #2 closed

[2017-04-25 17:42] Venemo commented on #101
@drakiula Take a look at https://github.com/Venemo/node-lmdb#building-node-lmdb-on-windows

[2017-04-25 18:34] drakiula commented on #101
@Venemo Yes, I definitely confirm again this is working for Windows 7 x64. I was also able to run the tests and the benchmark without any errors. Thank you!

[2017-04-26 10:00] Venemo commented on #87
@mux
Good news: a couple of minimal changes can make it compile on node v0.10.
Bad news: I'm getting a segfault... :(

[2017-04-26 10:10] Venemo commented on #87
Not sure where the segfault comes from, though. The node-lmdb test suite is incompatible with node v0.10, so it could very well be just some problems on the javascript side.

[2017-04-26 10:14] Venemo commented on #94
@da77a Looks like we can't get away with this so easily. `goToDup` uses `MDB_GET_BOTH` and the key doesn't point inside LMDB. So in that case, `cursor` will have to hold on to the key and free it later.

[2017-04-26 10:49] Venemo commented on #87
@mux I published a new version on npm which should work on node v0.10, at least I verified that all the examples (excluding the one which uses the newer node `Buffer` API) work. Can you give it a try?

[2017-04-26 10:57] Venemo commented on #18
There seems to be no interest for this feature at this time, so I'm closing the issue now. Please reopen if you are interested in seeing this feature.

[2017-04-26 10:57] #18 closed

[2017-04-26 10:57] Venemo commented on #17
There seems to be no interest for this feature at this time, so I'm closing the issue now. Please reopen if you are interested in seeing this feature.

[2017-04-26 10:57] #17 closed

[2017-04-26 10:57] Venemo commented on #14
There seems to be no interest for this feature at this time, so I'm closing the issue now. Please reopen if you are interested in seeing this feature.

[2017-04-26 10:57] #14 closed

[2017-04-27 07:36] Venemo commented on #99
I'm closing this issue now. Please reopen if you have any trouble with this feature.

[2017-04-27 07:36] #99 closed

[2017-04-27 07:37] Venemo commented on #87
I'm closing this issue now. Please reopen if you have any trouble with this feature.

[2017-04-27 07:37] #87 closed

[2017-04-27 07:37] Venemo commented on #75
I'm closing this issue now. Please reopen if you have any trouble with this feature.

[2017-04-27 07:37] #75 closed

[2017-04-27 07:37] Venemo commented on #100
I'm closing this issue now. Please reopen if you have any trouble with this.

[2017-04-27 07:37] #100 closed

[2017-04-27 07:38] Venemo commented on #100
@da77a Oh and by the way ― congrats on making number #100 🥇

[2017-04-28 22:16] NodeGuy commented on #99
Wow, fantastic!  Thank you for being so responsive!  It works great.

LMDB is an exceptional piece of software and I'm grateful that you've made it easy to use from Node.js.  Thank you.

[2017-05-02 10:52] Venemo commented on #99
Thank you @NodeGuy I'm glad you like it!

[2017-05-04 09:52] b-ono opened #102 "File with name \ prevents clone on windows"
The root of the repository contains a file named '\'. That's an illegal name under windows.

[2017-05-04 10:58] #102 closed

[2017-05-04 10:59] Venemo commented on #102
@b-ono Sorry, not sure what created that file, but it is removed now.

[2017-05-04 11:00] Venemo commented on #102
Not sure if that file hurt npm users, but now I've published a new version to npm without it.

[2017-05-04 19:35] nwbrad opened #103 "npm install fails "Error: node-lmdb@0.4.12 install: `node-gyp rebuild`""
New install on Centos 6.9
npm install -g  node-lmdb

Just install node.js last week.  Only other npm installed is sails.

[2017-05-04T19_17_31_611Z-debug.log.txt](https://github.com/Venemo/node-lmdb/files/977358/2017-05-04T19_17_31_611Z-debug.log.txt)

[2017-05-04 21:02] Venemo commented on #103
@nwbrad The log doesn't seem very helpful... can you be more specific as to what exactly you tried to do?

[2017-05-04 21:12] nwbrad commented on #103
Timur,

I haven’t done much, just installed node the other day.

Just installed sails today

And then tried to install node-lmdb.  It’s a pretty basic configuration.

I ran the install as root and ran the following command line:

npm install -g  node-lmdb

I had previously, a week ago, installed lmdb:

tar -xvzf LMDB_0.9.19.tar.gz

cd lmdb-LMDB_0.9.19/libraries/liblmdb/

make

sed -i 's| liblmdb.a

[2017-05-04 21:38] Venemo commented on #103
@nwbrad In your log the error message is `ELIFECYCLE` ― something I haven't seen on my own machine, ever. Googling this error code brings up a ton of different errors regarding `npm` and `node-gyp`...

Some clues:
* Can you try installing without the `-g` switch?
* Can you try on a different version of CentOS? 6.9 sounds like an old one.
* What happens if you `git clone` this repository and try to

[2017-05-04 23:58] nwbrad commented on #103
Centos 6.9 is the current release of Centos 6.x, released April 2017.  Unfortunately I cannot use a different release since all our servers are on this release.

Removed Node and NPM and reinstalled, and basically the same problem.

Did the build from git clone and basically got the same message once it got to the step “node-gyp build”
Prior to that, no error messages.

The error messages start wi

[2017-05-05 05:31] Venemo commented on #103
@nwbrad Hi Brad!

[code]

I didn't notice this error message in your log, but yeah, this is important.
Actually, `node-lmdb` itself is written in C++11, so you do need to have a C++11 compliant compiler if you want to use it. [Here is some information on which GCC versions support which C++ features.](https://gcc.gnu.org/projects/cxx-status.html)

So even though GCC 4.9 is very old, it should work

[2017-05-10 16:33] Venemo commented on #103
@nwbrad I'll close this issue now, but if you still have any trouble with it, don't hesitate to re-open!

[2017-05-10 16:33] #103 closed

[2017-05-12 15:19] degifted opened #104 "nested transactions"
Hi @Venemo, why did not you implement nested transactions in your API? Any plans on that?

[2017-05-12 15:28] degifted opened #105 "Support for mdb_cursor_put()"
Any plans to add support for mdb_cursor_put()? It should be more efficient along with MDB_CURRENT option in case when you need to perform read-modify-update operation.

[2017-05-13 14:30] Venemo commented on #104
@degifted Nobody has asked for this feature yet. I could look into it.

[2017-05-13 14:31] Venemo commented on #105
@degifted Sure, can you give me an example use case?

[2017-05-16 17:39] degifted commented on #104
Thank you. This would address cases like the following:
Say, you are in a middle of long lived read-only transaction (an iterator over a big table) and at some point you need to update the index table corresponding to that table. After that, in order to see changes in the index, you would need to reset the original transaction (txn.reset(), txn.renew()). But this is not desirable since the big tab

[2017-05-16 17:46] degifted commented on #105
Imagine that you have to modify some values in a big table. Currently you have to iterate over the table and alter desired values by putString() method. But this would require additional unnecessary lookup which can be quite costly. Having cursor.setCurrentString() would eliminate that lookup.

[2017-05-17 00:29] nwbrad opened #106 "Cursor.del doesn't work with dupsort databases when specifying both key and data"
LMDB allows you delete duplicate keys by providing both the key and the value (for databases opened with MDB_DUPSORT).

I have created a database that allows dup keys and opened it with:
            **keyIsUint32: true,
            dupSort: true,
            dupFixed: true,
            integerDup: true**
Both the key and the value are numbers (based on the definition I believe they would both be 3

[2017-05-17 08:16] Venemo commented on #106
@nwbrad Thanks for reporting this! I believe it's a regression in the last few releases. Can you please put together a simple, but complete test case that I could use to test your use case?

[2017-05-17 08:18] Venemo commented on #104
@degifted Nested transactions wouldn't help that use case, because the "long-lived" read-only transaction (and consequentally, all of its child transactions) would see the old state of the database.

[2017-05-17 08:22] Venemo commented on #105
@degifted Taking a look at [`mdb_cursor_put`](http://www.lmdb.tech/doc/group__mdb.html#ga1f83ccb40011837ff37cc32be01ad91e) it should be quite easy to wrap it. I'll take a look and have a go at it next week.

[2017-05-17 08:31] Venemo commented on #106
If you have the time, even better would be if you could add it to the module tests and send me a pull request for that.

[2017-05-17 18:17] nwbrad commented on #106
I have never done this before, so hopefully I did it correctly.
Added the file dupsort_delete.js
It is modeled after your dupsort.js, but it just has a case for the specific issue I encountered.
I tested with integer key and integer value.  But, but I imagine the same issue will happen with other values.

[2017-05-17 21:04] degifted commented on #104
You are right... It appears that rw transaction even cannot be opened under a ro transaction. It seems like it is suitable only for quite narrow set of use cases like complex cascade updates.

[2017-05-18 08:50] Venemo commented on #106
@nwbrad Thanks! I'll take a look this weekend and get back to you.

[2017-05-18 08:52] Venemo commented on #104
@degifted Generally it doesn't make sense to open a nested read-only transaction. Nested transactions, in my opinion, are only useful in complicated update scenarios.

[2017-05-18 08:52] Venemo commented on #104
@degifted One more thing. According to the LMDB docs, it is generally not a good idea to have long-lived transactions.

[2017-05-22 14:12] degifted opened #108 "Add equivalents for goToFirst(), goToLast(), goToPrev(), goToNext() and goToRange() which can return also value."
Since there is no cursor function in LMDB API to retrieve only key, node-lmdb wrapper functions goToPrev(), goToNext() and goToRange() have to get both key and value, then return only key and omit the value. So, if you need to build an iterator where you need to get both keys and values, you need to call cursor.getCurrent_Type_() which adds some overhead. I propose to add the following functions t

[2017-05-22 15:08] Venemo commented on #108
@degifted Thank you for the suggestion! What do you think, what exactly would be the performance benefit of this change?

[2017-06-08 11:30] Venemo commented on #106
Sorry for taking so long, I've had some other stuff I needed to take care of. I'll look into this bug as soon as I can.

[2017-06-08 15:05] nwbrad commented on #106
Thanks.

From: Timur Kristóf [mailto:notifications@github.com]
Sent: Thursday, June 08, 2017 4:30 AM
To: Venemo/node-lmdb
Cc: nwbrad; Mention
Subject: Re: [Venemo/node-lmdb] Need example of deleting duplicate data with both the Key and Value (#106)

Sorry for taking so long, I've had some other stuff I needed to take care of. I'll look into this bug as soon as I can.

—
You are receiving this beca

[2017-06-15 21:33] degifted commented on #108
Well in my case performance benefit was up to 10% depending on data size, so it was worth hacking. It turned out that dealing with v8 objects and especially allocating could be quite expensive. So I came to slightly different solution. I pass an array as a first argument of a goTo* function (i.e., where the callback should be) and return data as 0 element of that array. No any allocation is needed

[2017-06-15 21:37] degifted commented on #108
Example of use:

`var tmpArray = [];
for (var index = cursor.goToRangeBinary(key, tmpArray); index != null; index = cursor.goToPrevBinary(tmpArray)) {
  item = tmpArray[0];
}`

[2017-06-16 09:58] Venemo commented on #108
@degifted What is the array for?

[2017-06-16 10:04] degifted commented on #108
@Venemo Since we cannot pass a reference to a string or number as a function argument, I create an array outside of the loop and then get an acquired value as '0' element of that array. I believe this is a fasted way of getting both key and value from a single function call.

[2017-06-16 10:05] degifted commented on #108
This is probably relevant just to my case since I have to deal with hundreds of millions rows in the database

[2017-06-16 10:40] Venemo commented on #108
@degifted Ah, so you basically use the array instead of creating an object. I think I get it now. Maybe I can also suggest a better way of doing it.

[2017-06-16 12:28] Venemo commented on #108
@degifted Can you give me a performance test which shows the performance advantages of the array approach?

[2017-06-17 20:28] degifted commented on #105
@Venemo In the meanwhile I implemented quick and dirty method which addresses my needs

NAN_METHOD(CursorWrap::putUInt32) {
    Nan::HandleScope scope;

    CursorWrap *cw = Nan::ObjectWrap::Unwrap<CursorWrap>(info.This());

    uint32_t value = Nan::To<v8::Number>(info[0]).ToLocalChecked()->Value();

    MDB_val data;
    data.mv_size = sizeof(uint32_t);
    data.mv_data = &value;

    unsigned i

[2017-06-17 20:56] degifted commented on #108
@Venemo Actually the test is quite simple:
[code]

I tested it on a database with ~150 millions of rows of 1..10Kb size. Here are results:

1. getCurrentBinary()
1000000
million: 1231.739ms
2000000
million: 1197.662ms
3000000
million: 1222.589ms
4000000
million: 1228.700ms
5000000
million: 1238.249ms
6000000
million: 1206.375ms
7000000
million: 1223.173ms
8000000
million: 1214.191ms
9000000

2. ge

[2017-06-17 21:10] degifted commented on #108
During the work on my own database layer I came to an intermediate 'quick and dirty' implementation of the missing functions. Here are the list of them. Hope it is self explaining.
[code]

These methods allowed to implement indexed search over duplicated keys of integer and string types. I also added UInt32 key type since existing Number type allocates 8 bytes which is unnecessary for an index tab

[2017-06-18 09:14] degifted commented on #108
After some thought I think that implementing such a lengthy cycles in Javascript is a bad idea anyway.  I probably have to move it to the C++ layer

[2017-06-19 07:23] Venemo commented on #108
@degifted I'll look into your patches and merge those of them that I think would be useful to others too.

There was already an uint32 key type :)

[2017-06-19 07:29] degifted commented on #108
@Venemo Sorry I meant data type, which is also a key type in the main table in my case. Not a big deal but it saves 4 bytes.

Local<Value> valToNumber(MDB_val &data) {
    return Nan::New<Number>(*((double*)data.mv_data));
}

Local<Value> valToUInt32(MDB_val &data) {
    return Nan::New<Number>(*((uint32_t*)data.mv_data));
}

[2017-06-20 10:04] Venemo commented on #108
@degifted What I meant by the performance test is: can you create a pull request with a test that I can run on my own machine?

[2017-06-21 22:12] Venemo commented on #106
@nwbrad The issue has been fixed and the fix has been release with v0.4.13 can you please take a look and see if it works for you?

[2017-06-22 21:47] nwbrad commented on #106
Thanks.  It works for me now!

From: Timur Kristóf [mailto:notifications@github.com]
Sent: Wednesday, June 21, 2017 3:12 PM
To: Venemo/node-lmdb
Cc: nwbrad; Mention
Subject: Re: [Venemo/node-lmdb] Cursor.del doesn't work with dupsort databases when specifying both key and data (#106)

@nwbrad <https://github.com/nwbrad>  The issue has been fixed and the fix has been release with v0.4.13 can you pl

[2017-06-23 07:16] Venemo commented on #106
Awesome, thanks!

[2017-06-23 07:16] #106 closed

[2017-08-12 00:45] nwbrad opened #110 "Ability to cycle through all records in a dupSort database"
I deleted my original comments, because I determined what the issue is.

If you have an integer key of 0 (zero), the standard cursor loop will fail because the key returned is 0.
From the example code: **for (var found = cursor.goToFirst(); found; found = cursor.goToNext()) {**

I read through the source... and I think the reason it occurs is that when MDB_NOTFOUND is encountered, it returns NULL,

[2017-08-13 08:18] Venemo commented on #110
@nwbrad Wow, nice catch. With this change, were you able to cycle through that dupSort database correctly?

[2017-08-13 21:31] nwbrad commented on #110
I was able to cycle through the dupSort database I have and it displayed everything as I expected with the null check.  I used !== since it checks the value and type, although I don't think there is a type for null.  != will probably work as well.

I can't remember the error I received on goToFirstDup or how I set it up.  It was just one of the many cases I was trying to see if I could figure out

[2017-08-14 09:04] Venemo commented on #110
@nwbrad Ok! I'll close this issue then.

[2017-08-14 09:04] #110 closed

[2017-08-29 18:29] nwbrad opened #111 "Supporting larger integer keys"
Currently, the max supported node-lmdb integer key is a 4 byte integer (keyIsUint32), which yields a little over 4 billion values, which may be enough, but I'm a bit concerned about being limited...
I realize the maximum integer supported by the Javascript number is 2^53 -1.  However that number is orders of magnitude larger than a Uint32.  Have you considered adding a Uint53 (UintJSMax or somethi

[2017-08-30 00:58] Venemo commented on #111
@nwbrad You can use a `Buffer` as key, which can be as big as you wish.

[2017-08-30 01:42] nwbrad commented on #111
Sure, I understand that, but it does not process the same way a 8 byte integer does.  Integer key gets are substantial faster since the comparison math can be done in a single cpu cycle.  Howard Chu talked about it in one of his presentations.

Just a thought.

From: Timur Kristóf [mailto:notifications@github.com]
Sent: Tuesday, August 29, 2017 5:58 PM
To: Venemo/node-lmdb
Cc: nwbrad; Mention
Subj

[2017-09-07 11:18] Venemo commented on #111
@nwbrad I will think about what the best way is to implement this. Maybe there could be a special buffer key type which only allows 64-bit buffers, and I could enable the integer key optimization for that. What do you think?

[2017-09-07 15:27] nwbrad commented on #111
I'm not sure about the best way. Personally, I think it should stick to as close to the C LMDB implementation as possible, which would mean the using a Uint64.  A Uint64 would work as long as it was clearly documented that JS has a limit of a 53 bit integer, which means that although it is stored as a 64 bit int, that functional JS limit is a 53 integer.  That's why I thought something like UintJS

[2017-09-07 18:02] Venemo commented on #111
@nwbrad I would not use a UInt64, because that would prevent users that use actual 64-bit numbers in other LMDB applications from using their existing databases with node-lmdb.

About the buffer idea:
The buffer would not need to be converted. The new keytype would enforce the use of a 64-bit (8-byte) buffer as a key, and would enable `MDB_INTEGERKEY`, and that's all there is to it.

[2017-09-08 02:31] nwbrad commented on #111
Sounds like it could work, especially if the buffer would not need to be converted and the values can be managed via a normal JS number variable.

[2017-09-08 09:16] Venemo commented on #111
The values cannot be managed via a normal JS number variable because of what you said - it doesn't support 64-bit values properly.

[2017-09-10 08:01] jonathanbelolo opened #112 "mistake in ex 10"
Line 44 should be

var cursor = new lmdb.Cursor(txn, dbi, { keyIsBuffer: true });

Best
J

[2017-09-10 17:01] nwbrad commented on #111
Yeah, I was afraid of that.  What I needed was the ability to have number keys, managed as numbers, into the trillions, which would not work with a 32 integer...  Not supporting 64bit integers is one of those unfortunate parts of javascript.  I was hoping the solution would be able to utilize the ES6 Number.MAX_SAFE_INTEGER (2^53 -1) ~ Number.isSafeInteger()
 [https://developer.mozilla.org/en-US/d

[2017-09-11 05:08] Venemo commented on #111
@nwbrad Why do you not want to work with buffers?

[2017-09-11 05:11] #112 closed

[2017-09-11 05:11] Venemo commented on #112
@jonathanbelolo Thank you for reporting, I fixed it now!

[2017-09-11 17:52] nwbrad commented on #111
My main apprehension to using buffers is the requirement to change the way a working application is currently functioning.  Adding a new, untested methodology storing existing keys and the overhead of converting to/from numbers to buffers concerns me.  I guess I look at changing the key type and reloading the data as infinitely safer than having to changing all existing javascript code that access

[2017-09-12 09:14] Venemo commented on #111
@nwbrad Why is it untested? Why would you need to change all existing javascript code?

[2017-09-12 15:16] nwbrad commented on #111
We use integer keys as unique identifiers for multiple databases (10+) and they are shown/used extensively throughout our application.  By untested, I mean that the use of the new method in our code is untested and is not a drop-in replacement.  So all aspects of our code would be untested with a new methodology.  Switching to a JS safe large integer would require almost no changes to code, it wou

[2017-09-13 11:56] Venemo commented on #111
@nwbrad Well if you think that something like that 53-bit integer would help, I could implement that for you.

[2017-09-13 12:04] Venemo commented on #111
@nwbrad However it won't be a drop-in replacement because then the new database will be binary incompatible with the old one.

[2017-09-13 17:49] nwbrad commented on #111
Venemo, Thank you for the offer, but I'm not sure its worth your effort if it is not binary compatible.  I don't want you to have to go to the effort if it is not extending the existing base.  My hope was for a enhancement of the current version that just offer a JS limited 64 bit integer support (within the JS Safe Integer boundaries) with everything else being the same.

[2017-09-13 18:44] Venemo commented on #111
@nwbrad It is possible, but then you will have 32-bit and 64-bit keys mixed in the same database, so you will need to disable the `MDB_INTEGERKEY` optimization. Then it can be binary compatible with your old database, but add new keys as 64-bit (or 53-bit) integers.

[2017-09-13 19:06] nwbrad commented on #111
Ok.  I completely misunderstood you.  I thought you meant I could not use the same binary file (node-lmdb module) to access 32 bit or 64 bit integer keyed data files..  I, personally, would not expect to have 32-bit and 64-bit keys in the same database.  For me, this should not be a limitation.

Right or wrong, with LMDB I find I create multiple databases to help minimize the impact of having a si

[2017-09-14 07:34] Venemo commented on #111
@nwbrad I said the new **database** (with 64-bit keys) would not be binary compatible with the old one (with 32-bit keys). I wasn't talking about the module itself.

[2017-09-14 15:22] nwbrad commented on #111
Yep.  My mistake, I misread it.

[2017-09-16 22:24] Bibliofile opened #113 "Support for MDB_NOLOCK"
I am using this library to access the same database across two applications. The first application manages the database and the second application will only read from the database.

In order for this to work, when calling `env.open` I need to be able to supply the `MDB_NOLOCK` flag. I've [forked](https://github.com/Bibliofile/node-lmdb) the project and added `noLock` as an option when calling `env

[2017-09-17 10:53] Venemo commented on #113
@Bibliofile Why exactly do you need `MDB_NOLOCK`? Multiple processes should be able to access the same database without any special flag.

[2017-09-17 10:56] Venemo commented on #113
The docs of `MDB_NOLOCK`:

[code]

Why would you want to do that?

[2017-09-17 21:23] Bibliofile commented on #113
I really don't, however the database creation and management is managed by a program which is not under my control. Without the `MDB_NOLOCK` option I am unable to access the database.

[2017-10-13 10:11] emanuelpalm opened #114 "Consider changing version number to 1.0.0"
I guess this is for the pedantic, but maybe I fall into that category? A leading zero in a semver (or any other) version numbering schema communicates that the library in question is unstable or under development. Rather the opposite, to me it seems like this library is quite stable, and has been for some years.

Would you mind just changing the version number to 1.0.0 to reflect this? I don't min

[2018-01-16 08:46] francescoagati opened #115 "levelup / leveldown support"
actually the support for lmdb on levelup is broken. and lmdb is the only db of leveldb family that support multi core write and read. can be levelup supported?

[2018-01-16 10:37] Venemo commented on #115
Hi! I'm unfamiliar with levelup, but if you can explain what it is and what's the benefit, it will be considered.

[2018-02-18 06:08] chrbala commented on #115
I'm working on an abstract-leveldown implementation which is almost done - just making the tests pass right now. It's not currently on Github, but if there's interest in helping out, I can publish it.

@Venemo levelup basically provides a consistent API for databases like LMDB. Initially, this was for LevelDB, but there are a number of other database implementations out now. Because all of these p

[2018-02-18 07:56] francescoagati commented on #115
Yes if you can  publish on github i can help you

[2018-02-18 08:11] chrbala commented on #115
Okay. I'll get it into a shareable state and push a new repo, probably by EOD tomorrow (Sunday).

[2018-02-18 19:59] chrbala commented on #115
I've published [lmdb-leveldown](https://github.com/chrbala/lmdb-leveldown) and created [an issue](https://github.com/chrbala/lmdb-leveldown/issues/1) for the failing tests. There aren't too many issues, so @francescoagati feel free to take a look into them.

[2018-02-19 02:24] chrbala opened #116 "ready-only way of getting the nearest key to a non-existent key"
I am working on [lmdb-leveldown](https://github.com/chrbala/lmdb-leveldown) and am trying to get a reasonable way of getting the first key following/preceding a non-existent key. Right now, I am setting a dummy value to the key if it doesn't exist, then calling cursor.goToNext() or cursor.goToPrev() and aborting the transaction when done. However, this is cumbersome from an API standpoint and requ

[2018-02-19 13:13] Venemo commented on #116
@chrbala Why not just use `goToRange`?

[2018-02-19 13:14] Venemo commented on #115
Is there anything needed from the `node-lmdb` side?

[2018-02-19 17:04] chrbala commented on #116
Ah, I missed that in the examples! It looks like it mostly works, but not for keys outside of the keyspace. e.g. keys ["5", "6", "7"] are defined and we are trying to start at "9" and iterate backwards. It seems that goToRange only tests for keys after the one provided, so goToRange("9") here does not find a key.

[2018-02-19 17:25] Venemo commented on #116
@chrbala `goToRange` will according to the LMDB docs *Position at first key greater than or equal to specified key.* So it does not have the exact functionality that you have in mind, but you can emulate it easily:

* Call goToRange`
* If the key is not found, call `goToPrev`.

Note that this does not require a write transaction.

FYI, node-lmdb is a wrapper around the lmdb C library, I recommend

[2018-02-19 17:43] chrbala commented on #116
Yeah, that's what I was doing, but it doesn't work when the key is out of range. It works correctly if you try goToRange("6") in ["4", "5", "7"]

[code]

From the looks of [the cursor docs](http://www.lmdb.tech/doc/group__mdb.html#gga1206b2af8b95e7f6b0ef6b28708c9127a2a35a3f4da5c7e8d24aad482c971def5), there may just not be a good way of supporting this due to a lack of support in the C library.

If

[2018-02-19 17:51] Venemo commented on #116
@chrbala I'll look into it. I'm not familiar with that syntax though, is it Coffeescript?

[2018-02-19 18:10] chrbala commented on #116
It's ES6 + Flow. You can see it transpiled to "vanilla" javascript on [the babel site](https://babeljs.io/repl/#?babili=false&browsers=&build=&builtIns=false&code_lz=MYewdgzgLgBA5iAKiGBeGAKYBXAThEXALhgGE8DdEBPABwFMBKNAPhgG8AoGGUSWOLHQBretVYduPGABt6sHLlxpeFQgDoEyAEoBDMHHoZR1RgG4pPAO4ALAJZzMi5QDIXqpTAA8Isc2cqipSaSCAAcvQAHlAY5pyWMLjyeGAeuBY8AL4WUnzQ8FD0KiYSXNKy8mmBarghOvqGxn4Z0rYORVh4ru4BXjAm_l3V-Bpa

[2018-02-20 10:10] Venemo commented on #116
Ok, I will take a look at it as soon as I can.

[2018-03-23 15:51] paberr opened #117 "SIGABRT when using `noOverwrite` flag"
I was just playing around with the `noOverwrite` flag for the put methods of a transaction,
when I stumbled across the following SIGABRT:
[code]

The following snippet should reproduce the error.
[code]

Unfortunately, I haven't had the time for any debugging yet.
But I thought it might be worth reporting it to you.

[2018-03-23 18:37] Venemo commented on #117
@paberr Yes, thanks for reporting this. I will try to debug it as soon as I can.

[2018-03-23 18:37] Venemo commented on #114
@emanuelpalm Thanks, this is very flattering. :) Will do soon!

[2018-03-23 22:15] emanuelpalm commented on #114
:+1:

[2018-03-25 15:34] Venemo commented on #117
On a first try, it results in `SIGSEGV` for me. There is definitely something wrong going on here.

[2018-03-25 15:55] Venemo commented on #117
@paberr I pushed a fix for this, can you give it a try?

[2018-03-25 16:14] Venemo commented on #116
@chrbala Sorry for the delay. I thought about it now. Doesn't something like this satisfy your specification?

[code]

[2018-03-25 16:30] Venemo commented on #116
@chrbala I just realized that I don't completely understand your requirement here, from the looks of your code maybe I misunderstood? Can you point me to a failing test suite where I could learn the desired behaviour and observe what is going on?

[2018-03-25 16:35] Venemo commented on #113
@Bibliofile Thinking this through again, I think your app should be able to open the same database even without `MDB_NOLOCK`. What kind of results do you get when you try?

[2018-03-25 16:38] Venemo commented on #104
@degifted With the above discussion in mind, are you still interested in nested transactions?

[2018-03-25 16:42] Venemo commented on #115
@francescoagati @chrbala I'm closing this tickets now due to lack of response. If you have any other questions or problems with node-lmdb, feel free to open another issue.

[2018-03-25 16:42] #115 closed

[2018-03-25 16:52] paberr commented on #117
Thanks, works perfectly now! 👍
But found another SIGSEGV that I will report separately.

[2018-03-25 16:52] #117 closed

[2018-03-25 16:59] paberr opened #119 "SIGSEGV when closing an environment after exception"
The SIGSEGV is reproducible as follows:
1. I open a transaction and perform an operation, which throws an exception.
2. I catch the exception and try closing the database/environment without aborting the transaction.

If I manually abort the transaction between step 1 and 2, everything works fine.
However, if I understood correctly, `cleanupStrayTxns` should actually take care of cleaning up this

[2018-03-25 17:16] Venemo commented on #119
Thanks for reporting this.
The crash actually comes from `cleanupStrayTxns`...

[2018-03-25 17:22] Venemo commented on #119
@paberr Looks like the `cleanupStrayTxns` code was never exercised with a stray write transaction. Take a look if it's okay for you now. :)

[2018-03-25 17:34] paberr commented on #119
Looks good. :)
Thank you for the quick response!

[2018-03-25 17:34] #119 closed

[2018-03-25 17:57] Venemo commented on #111
@nwbrad Are you still interested in this? I've looked at the V8 docs, but it seems it doesn't have a suitable data type for storing these keys: https://v8docs.nodesource.com/node-8.9/dc/d0a/classv8_1_1_value.html

[2018-03-25 18:14] Venemo commented on #46
Thinking more about this, I think that a possible asynchronous API would add more overhead than gain.

[2018-03-25 18:15] Venemo commented on #111
The V8 `Integer::New` only takes a 32-bit number, unfortunately (even though it returns its value in 64-bit).

[2018-03-25 18:19] nwbrad commented on #111
Yes, I'm still interested.  I want V8/Javascript with LMDB to be able to use the Javascript number key with a maximum value of MAX_SAFE_INTEGER (a 53 bit integer).  Are you saying that V8/Node does not support numbers up to MAX_SAFE_INTEGER as a number?
I was expecting something like JS number (up to MAX_SAFE_INTEGER) translates to LMDB C 64 bit integer and reverse.  Is that not possible?  I don't

[2018-03-25 18:50] Venemo commented on #111
@nwbrad Unfortunately. Some digging also turned up this:
https://github.com/thlorenz/v8-perf/issues/3#issuecomment-45545604

Relevant quote:

This finding concurs with what I found in the V8 docs.

So, we could perhaps get the 64-bit integer to/from the JavaScript side as a Number (which is in fact a double), but not sure if that is actually a good idea. Would we lose percision if we stored `MAX_S

[2018-03-25 19:08] chrbala commented on #116
Looks like I just overlooked the simple solution before:

``if (curr === null) curr = cursor.goToLast();``

I just released v0.0.3 of [lmdb-leveldown](https://www.npmjs.com/package/lmdb-leveldown), which should be the first stable release.

[2018-03-25 19:08] #116 closed

[2018-03-25 19:35] Venemo commented on #116
@chrbala Awesome!

[2018-03-25 20:19] nwbrad commented on #111
I think we would be fine representing int as a Number up to MAX_SAFE_INTEGER.

From mozilla:
"The reasoning behind that number is that JavaScript uses double-precision floating-point format numbers as specified in IEEE 754 and can only safely represent numbers between -(253 - 1) and 253 - 1.
Safe in this context refers to the ability to represent integers exactly and to correctly compare them"

[h

[2018-03-25 22:00] Bibliofile commented on #113
It's been a few months since I looked at this project - so I can't recall exactly the error (I've also apparently lost the VM where it was stored). If I recall correctly, I was getting access errors. I'll try to find it and check sometime this week.

[2018-03-26 06:55] Venemo commented on #111
@nwbrad Allright, I guess I can do it like this!

[2018-03-26 15:41] nwbrad commented on #111
Great, Thank you!  I think it is will allow your tool to use LMDB to the limits of JavaScript.  Maybe someday JavaScript will use true 64 bit integers, but until then I imagine this will be more than sufficient for 99.9% of users.  I know it will resolve my concerns.

[2018-03-28 00:27] paberr opened #120 "SIGSEGV in mdb_put"
@mar-v-in and I found another – hard to reproduce – SIGSEGV.
On several Linux machines, the snippet below leads to a SIGSEGV.
However, it works on my MacBook without any problems.

It seems like the length of the buffers and the number of put operations both influence the result.

Here is also the stack trace:
[code]

Snippet:
[code]

[2018-03-28 00:29] paberr commented on #120
An interesting observation is that adding/removing one byte to the Uint8Arrays (i.e., varying the length of it) causes the snippet to work properly on our test machine.

[2018-03-28 07:59] Venemo commented on #120
@paberr Why are you using an `Uint8Array` with `putString`? If you want to work with binary data, I would suggest the node `Buffer` instead.

[2018-03-28 12:40] paberr commented on #120
We use, since we use the same application code for node and browser.
However, the program also crashes when replacing the `Uint8Array` by a `Buffer`.

[2018-03-28 13:30] Venemo commented on #120
I cannot reproduce the crash. To me it just outputs "All done" and exists normally. I use node v8.9.4 on Fedora 27. Which version of node do you use with what OS, and are you sure you use the latest node-lmdb?

I just noticed you use the `Uint8Array` as a key. This has never been tested. Especially since in your configuration, it expects a string key. If you want to use a binary key, you should sp

[2018-03-28 13:33] Venemo commented on #120
Can you try to debug what is going on? Most helpful would be to create a backtrace. I usually use `gdb`, like this:

[code]

In the `gdb` prompt, `r` will start the process. Once it crashes, `bt` will print a backtrace, which you can paste here.

[2018-03-28 13:53] Venemo commented on #120
So, I investigated a little. Looks like node thinks that `Uint8Array` is a buffer, actually `node::Buffer::HasInstance` returns true if given the `Uint8Array` and then `node::Buffer::Data` + `node::Buffer::Length` work with it correctly too.

Looking further into the code, it is not necessary anymore to specify the key type to `openDbi` in this case it will infer the key type for you.

[2018-03-28 14:04] Venemo commented on #120
Sorry for the noise. So far I have not been able to reproduce the problem. Hopefully knowing the OS and node version will help.

[2018-03-28 14:10] Venemo commented on #120
It would also help to see the stack trace from a debug build, ie. `node-gyp configure --debug`.

[2018-03-28 14:56] mar-v-in commented on #120
I was able to do some tests with the native code. The problem seems to occur only when compiling with `gcc` and `-O3` flag (`-O2` or `clang` are fine). `gcc` and `-O3` seem to be the default for release build on Linux systems and setting `-O2` in `binding.gyp` will just be ignored. Debug builds on Linux default to use `-O0` (even if `-O3` is set in `binding.gyp`), so just enabling debug will cause

[2018-03-28 16:17] Venemo commented on #120
Thank you @mar-v-in ― yes, I can reproduce the problem with `-O3`. It's a bit scary as it comes from lmdb, from a part where basically everything is optimized out. When I touch the code, it is no longer optimized out, and the problem is no longer present.

Would be interesting to see if the same issue can be reproduced in C. If yes, that means this is an lmdb bug. Otherwise something with node-lmd

[2018-03-28 17:37] Venemo commented on #120
@mar-v-in Can you confirm that this C snippet reproduces the same crash, if using an `-O3` compiled lmdb: https://pastebin.com/DeQ38WfC

[2018-03-28 17:52] Venemo commented on #120
I asked around in #openldap and they pointed me to an ITS which was fixed just a few days ago. So I just updated the LMDB dependency and the problem is gone.

[2018-03-29 08:19] Venemo commented on #120
@paberr @mar-v-in Can you guys confirm that the issue has been fixed?

[2018-03-29 23:19] paberr commented on #120
Yes, it seems to be fixed now.

[2018-03-30 09:17] Venemo commented on #120
Awesome, thank you. I'm closing this issue now. :)

[2018-03-30 09:17] #120 closed

[2018-03-30 17:45] jeffesquivels opened #121 "Latest version (0.5.2) requires gcc >= 7 to compile"
It seems the latest version of lmdb-node uses the compiler flag [`-Wimplicit-fallthrough=2`](https://github.com/Venemo/node-lmdb/blob/master/binding.gyp#L29) which was [introduced in gcc version 7](https://developers.redhat.com/blog/2017/03/10/wimplicit-fallthrough-in-gcc-7/), so the compilation (and thus, the installation) of this package with older versions of gcc fails with an error like this:

[2018-04-01 09:48] Venemo commented on #121
Ouch. Sorry.

[2018-04-01 10:28] Venemo commented on #121
I published a new version which removed the `-Wimplicit-fallthrough`. On the longer term, it would be nice if `-Wimplicit-fallthrough` would be there for GCC>=7 and not there otherwise. I'm not enough of a GYP magician to do that, though.

[2018-04-06 08:48] Venemo commented on #121
@jeffesquivels Can you confirm that the problem is fixed now?

[2018-04-06 08:49] Venemo commented on #104
Closing this issue due to lack of user interest in this feature.

[2018-04-06 08:49] #104 closed

[2018-04-06 08:50] Venemo commented on #113
@Bibliofile Please check.

[2018-04-06 20:07] jeffesquivels commented on #121
@Venemo I can confirm the problem is indeed fixed in the latest version (0.5.4).

I also have an idea of how to accomplish this, if I get it to work I'll send you the PR.

Thanks!

[2018-04-06 20:07] #121 closed

[2018-04-06 20:41] jeffesquivels opened #122 "Commit 4b08d7f introduces changes that prevent compilation on Windows 8.1"
Hi,

It seems commit [`4b08d7f0de936775eec6caa7c642077e24a0904a`](https://github.com/Venemo/node-lmdb/commit/4b08d7f0de936775eec6caa7c642077e24a0904a) introduces changes from commit [`e85ae1fe883b4847f07cfebc2630636d06e429c3`](https://github.com/LMDB/lmdb/commit/e85ae1fe883b4847f07cfebc2630636d06e429c3) in upstream repository and this breaks compilation on Windows 8.1 (the only one I have availabl

[2018-04-08 15:51] katyo opened #123 "Compilation error on Node v6"
There is an issue with compiling:

[code]

node v6.12.3
npm  v3.10.10
gcc v6.3.0

[2018-04-09 06:45] Venemo commented on #121
@jeffesquivels Awesome, thank you! Looking forward to it!

[2018-04-09 17:13] jeffesquivels commented on #122
I asked [about this](https://www.openldap.org/lists/openldap-technical/201804/msg00003.html) on the `openldap-technical` mailing list and it seems that LMDB compilation is only officially supported on Windows when using  GCC (not MSVC), so now this may be a documentation issue instead of a compilation one.

I also received the suggestion of using [libmdbx](https://github.com/leo-yuriev/libmdbx) fo

[2018-04-10 07:16] Venemo commented on #122
@jeffesquivels I see a few possible ways to move forward with it:

1. Patch LMDB locally so at least this module will compile --- in this case, a PR is welcome
2. Somehow tell node-gyp that this should be compiled with GCC on Windows --- is this even possible?
3. Revert to old LMDB --- but I would very much prefer not to do this.

[2018-04-20 08:48] jeffesquivels opened #125 "Latest packaged version contains huge binary files"
The [latest packaged](https://registry.npmjs.org/node-lmdb/-/node-lmdb-0.5.4.tgz) version seems to contain a couple of huge binary files:

  * vgcore.17237 (675M)
  * vgcore.17437 (166M)

They seem to be unnecessary for the normal operation of `node-lmdb` (and according to a quick search on the web, they seem to be debugging files from Valgrind).

If they're indeed unneeded, may be it would be bet

[2018-04-20 09:25] Venemo commented on #125
I fixed it now. Sorry for the inconvenience!

[2018-04-20 09:26] #125 closed

[2018-04-20 10:16] Venemo commented on #123
This is caused by: https://github.com/Venemo/node-lmdb/commit/d0ed6904c4665b6e964fde3d22e193e4f51c5478 --- need to check the Nan docs for how to do this correctly.

[2018-04-20 20:43] jeffesquivels commented on #125
@Venemo no problem, thank you very much! :)

[2018-04-20 22:34] jeffesquivels commented on #122
I was doing a bit of research on this, it seems that option `2.` is not possible because the node.js executable in Windows is compiled with Visual Studio [and it cannot load modules compiled with GCC](https://github.com/nodejs/node-gyp/issues/402#issuecomment-35316212).

So we're left with `1.` or `3.`; since `1.` is preferred, I tried two approaches to it:

  1. Apply a patch that will only rever

[2018-04-23 04:10] chrbala opened #126 "Can not install on linux (Docker)"
When I try to install node-lmdb on linux, I get the following error:
[code]

But when I run ``find . -name "node-lmdb.node"``, I get.
[code]

I'm happy to provide a docker file or share the container if it's useful.

[2018-04-28 09:51] Venemo commented on #126
I don't have any experience with Docker unfortunately. Is this a Docker-specific issue or can you reproduce this outside of Docker?

[2018-04-28 09:54] Venemo commented on #122
Thanks @jeffesquivels for your effort. I believe `1` is simpler, especially if it doesn't break the `git subtree` magic. Looking forward to the PR! :+1:

[2018-04-28 20:40] chrbala commented on #126
I doubt it's a docker-specific issue. More accurately, the issue could be described as ``Can not install on Debian GNU/Linux 8`` and Docker should be more of an implementation detail. It may or may not be an issue with other distributions – I haven't tested on others.

My initial guess is that the issue has something to do with [yarn workspaces](https://yarnpkg.com/blog/2017/08/02/introducing-work

[2018-04-30 09:13] pasimako opened #127 "Fails to compile on Node v8"
node-gyp fails to compile on Ubuntu 17.10 after npm install:

  CC(target) Release/obj.target/node-lmdb/dependencies/lmdb/libraries/liblmdb/midl.o
  CXX(target) Release/obj.target/node-lmdb/src/node-lmdb.o
  CXX(target) Release/obj.target/node-lmdb/src/env.o
../src/env.cpp: In lambda function:
../src/env.cpp:332:19: error: could not convert ‘* d->EnvSyncData::callback’ from ‘Nan::Callback’ to ‘v8:

[2018-05-02 17:08] #122 closed

[2018-05-02 17:09] Venemo commented on #127
This is weird, it does compile for me on node v8. But otherwise the problem is indeed similar to #123

[2018-05-02 17:10] Venemo commented on #126
I use Fedora 27, and it works well here. If you can tell me how to reproduce on Debian, I'm willing to put together a VM to test.

[2018-05-07 05:38] chrbala commented on #126
1. The issue turns out to be platform independent. My issue is with fresh installs on any platform.
2. The issue only occurs with Yarn workspaces. I've occasionally had issues with paths when using workspaces. These can sometimes be resolved with using ``require('path').resolve(SOME_PATH)``, especially when using a path relative to a different module.
3. It seems that a race condition is present w

[2018-05-07 17:04] Venemo commented on #126
Thank you @chrbala

I will take a look at it but unfortunately I don't have experience with Yarn either. As far as I understand `npm install` should also compile the module (on all platforms) by calling `node-gyp` which should place the compiled files into a location that is accessible by the `index.js`. So it sounds like this is either a node or npm bug (or a Yarn bug) that it doesn't find the co

[2018-05-07 17:12] Venemo commented on #113
Hi!

As of d27408aed06fde656f70d49c09876726d9aac87d I added unofficial support for `MDB_NOLOCK`. Though I would definitely recommend against using it, unless you find it absolutely necessary.

[2018-05-07 17:39] Venemo commented on #123
@katyo I fixed this in latest master, now can compile on node `v6.11.4`. Can you verify that it works for you now? Thanks.

[2018-05-07 17:40] Venemo commented on #127
@pasimako Can you still reproduce this with latest master?

[2018-05-08 08:17] pasimako commented on #127
@Venemo It compiles without any errors. Thank you! :+1:

[2018-05-09 11:42] Venemo commented on #114
First, I plan to finish all the current issues and add some more documentation. Then I'll listen to your advice, it's time to do the "boring" 1.0.0 release. :)

[2018-05-09 11:43] #123 closed

[2018-05-09 11:44] Venemo commented on #113
In case you do need it:

[code]

[2018-05-09 11:44] #113 closed

[2018-05-09 19:09] Venemo commented on #113
@Bibliofile If you need any further help with this, feel free to open a new issue.

[2018-05-12 07:12] emkman commented on #126
I am having the same issue on Ubuntu 16.04 (Debian based though not sure it matters) and I get different behavior across different cloud hosts. On Digital Ocean the issue occurs if I build the project as root, but not as a newly created user. On AWS, I get the issue with the non root user using the same script that works on Digital Ocean. The project in question is: https://github.com/nimiq-networ

[2018-05-12 07:26] emkman commented on #126
I cd'ed to `/core/node_modules/node-lmdb/build/Release` and confirmed that `node-lmdb.node` was missing. I then went to `/core/node_modules/node-lmdb/` and ran `npm install`. This kicked off a `node-gyp rebuild` and fixed the issue.

[2018-05-13 17:06] Venemo commented on #126
@emkman Can you give the exact steps to reproduce your problem? And what environment you ran?

[2018-05-13 17:29] Venemo commented on #126
I played around with `yarn` a bit but could not figure out what is wrong. Reported an issue against `yarn` here: https://github.com/yarnpkg/yarn/issues/5814

[2018-05-15 21:37] sOm2y opened #130 "node-lmdb.node has bad ELF magic"
Hi team,
I'm trying put a node project into react native, everything was fine until this happened, I suspect I need rebuild node-lmdb native addon for android, but I tried to rebuild it with arch=arm but i still keep getting it, any idea know why?

[code]

[2018-05-16 09:27] Venemo commented on #130
Hi @sOm2y thanks for reporting this. Please give me more details on what exactly you are trying to do and how to reproduce this issue.

[2018-05-17 00:15] hanweifish opened #131 "Support non-zero-terminated UTF-16 strings in node-lmdb"
For the lmdb file we use, when I use 'cursor.goToFirst()', I always get
fatal: Invalid zero-terminated UTF-16 string stack=Error: Invalid zero-terminated UTF-16 string

however, my lmdb file works in python lmdb and go lmdb library, I can get string and iterator without errors.

[2018-05-17 06:33] Venemo commented on #131
@hanweifish Please provide the exact steps to reproduce this problem. You get that error when you try to read a UTF-16 string and it's not zero terminated, but `goToFirst` does not throw that.

[2018-05-17 06:41] hanweifish commented on #131
when I iterator our lmdb, on the line shows in the error log:
      for (var found = cursor.goToFirst(); found !== null; found = cursor.goToNext()) {
          console.log('key', found);
          console.log('value', txn.getString(dbi, found));
      }

if the db is based on UTF-16 string and it's not zero terminated, how to solve the problem? Since I test with go and python lmdb library, both wo

[2018-05-17 06:42] Venemo commented on #131
@hanweifish In that case the data is not a valid zero-terminated UTF-16 string.

[2018-05-17 06:45] Venemo commented on #131
@hanweifish Explanation: in the beginnings it was unclear whether V8 requires zero termination on its strings or not, so I added the terminating zero just in case. These days V8 is much better documented and it's clear that the terminator is not necessary. However if I removed it now, that would mean I'd break it for everyone who created their database on older versions of node-lmdb.

So, sadly, t

[2018-05-17 06:51] Venemo commented on #131
Until this is solved, I can give you a temporary solution:

[code]

Just typed into the comment window, so there might be typos in there. Good luck!

[2018-05-17 06:54] da77a commented on #131
Use the keyIsBinary parameter to read/write keys as buffers. Convert the buffer to a string and all will be fine.

[2018-05-17 07:07] Venemo commented on #131
@da77a Yep, that's exactly what I suggested. :)

[2018-05-17 07:16] Venemo commented on #131
On the longer run, though, I will add an option that will allow the use of non zero terminated strings as well.

[2018-05-17 07:51] hanweifish commented on #131
Thanks. Works as buffers. Finally!

But has another question about encoding, in our lmdb,

key <Buffer@0x102224540 6c 6f 63 61 6c 65 73>
toString() we get=>
key locales

for this Buffer, how can I know the encoding? Thus I can generate the buffer from key via new Buffer(). I tried every encoding but no one match it~~

Thanks

[2018-05-17 11:44] Venemo commented on #131
@hanweifish Generally, you are expected to know what encoding you store your strings with.

[2018-05-17 17:35] hanweifish commented on #131
Ha, Thanks for your help.

[2018-05-18 07:26] Venemo commented on #131
Let's keep this issue open for now, to keep track of non-zero-terminated strings support.

[2018-05-20 22:37] sOm2y commented on #130
@Venemo yes, running npm will generate node-gyp build for native addon, but i am generate it on mac which is intel architect. And that native addon build was for intel not android arm architect. So I guess I have to figure out a way to do that. From so far I discovered it's more a question for node-gyp instead of node-lmdb.
Appreciate your reply tho.

[2018-05-20 22:37] #130 closed

[2018-05-21 09:07] Venemo commented on #130
@sOm2y Good luck! Maybe open an issue at react native and maybe they can help you with this.

[2018-05-21 15:54] emkman commented on #126
Sure, thank you for your effort tracking it down.

[2018-05-21 15:59] chrbala commented on #126
Yeah, feel free. It looks like it affects all of the native modules on yarn
monorepos. I changed my installation workflow to make this work.
On Mon, May 21, 2018 at 09:54 Ethan Kravitz <notifications@github.com>
wrote:

[2018-05-21 16:12] Venemo commented on #126
@chrbala Can you share with us what the workaround was, in that yarn bugreport?

[2018-06-01 15:48] erichocean commented on #111
I added a pull request that address this: https://github.com/Venemo/node-lmdb/pull/132

[2018-07-06 22:47] nwbrad opened #133 "*** Error in `node': double free or corruption (top): 0x000000000279ff30 ***"
I'm afraid this issue is probably scant on details, but here it goes.
I'm getting an error in a program I wrote using node-lmdb.  The error only occurs when I run the program, not when I debug the program, so I'm unable to tell where exactly in the program the error is occurring.  The backtrace seems to indicate the issue is in CursorWrap...

I have 2 functions that I call 2 times each:
convertStr

[2018-07-06 23:14] nwbrad commented on #133
I think I have located the possible cause.
Reuse of a Cursor:
The functions contain the following:

let cursor = new lmdb.Cursor(txn, tblDbi, { keyIsBuffer: true });
...
cursor.close();
...
cursor = new lmdb.Cursor(txnTmp, dbiTmpTbl, { keyIsBuffer: true });
...
cursor.close();

If I create a separate cursor variable ("cursor2) for the 2nd use of a cursor, the issue does not occur.  It's only if I

[2018-07-06 23:28] Venemo commented on #133
@nwbrad Thanks for reporting this. Can you please run `node-lmdb` inside `gdb` to see a better backtrace? Also, do you use the latest version?

If you are unfamiliar with gdb, this is how to launch it:

[code]
Inside `gdb` use `r` to run your app and when it crashes use `bt` to produce a backtrace. Please paste the backtrace here.

[2018-07-06 23:29] Venemo commented on #133
I would also appreciate it if you could give me a test case that reproduces this.

[2018-07-06 23:56] nwbrad commented on #133
below is the backtrace.
*** Error in `/usr/bin/node': double free or corruption (top): 0x000000000226de70 ***
======= Backtrace: =========
/lib64/libc.so.6(+0x81499)[0x7ffff6c48499]
/test/node_modules/node-lmdb/build/Release/node-lmdb.node(_ZN10CursorWrap5closeERKN3Nan20FunctionCallbackInfoIN2v85ValueEEE+0x64)[0x7ffff49b5b24]
/test/node_modules/node-lmdb/build/Release/node-lmdb.node(+0x219c7)[0x7f

[2018-07-07 06:58] Venemo commented on #133
@nwbrad Can you please repeat that but using a debug build? So that we can see line numbers in there. The backtrace itself is enough, I can't use the memory map.

[2018-07-07 15:06] nwbrad commented on #133
I ran debuginfo-install nodejs-8.11.3-1nodesource.x86_64 to install debug source, but I got an error message: Could not find debuginfo for main pkg: 2:nodejs-8.11.3-1nodesource.x86_64
Everything thing else on the install ran fine.  Any idea on where to get the debuginfo for nodejs-8.11.3-1nodesource.x86_64

[2018-07-08 10:01] Venemo commented on #133
@nwbrad What I would like to see is line numbers in node-lmdb. For that you don't need the nodejs debuginfo, it is enough to make a debug build of node-lmdb.

[2018-07-08 21:00] nwbrad commented on #133
I don't think this worked like expected because I don't see any line numbers for node-lmdb.
I installed and built nodejs from source and then ran the following:
gdb --args node_g taxonomy_convert.js

#0  0x00007ffff6bfd277 in __GI_raise (sig=sig@entry=6) at ../nptl/sysdeps/unix/sysv/linux/raise.c:56
#1  0x00007ffff6bfe968 in __GI_abort () at abort.c:90
#2  0x00007ffff6c3fd37 in __libc_message (do_

[2018-07-08 21:05] Venemo commented on #133
But you don't need to. You only need a debug build of **node-lmdb**, not node.

[code]

Then use the resulting binaries from this build.

[2018-07-08 21:19] nwbrad commented on #133
Ok.  Tried above and got the following for line 3
node-gyp configure --debug
gyp info it worked if it ends with ok
gyp info using node-gyp@3.7.0
gyp info using node@8.11.3 | linux | x64
gyp http GET https://nodejs.org/download/release/v8.11.3/node-v8.11.3-headers.tar.gz
gyp http 200 https://nodejs.org/download/release/v8.11.3/node-v8.11.3-headers.tar.gz
gyp http GET https://nodejs.org/download/rel

[2018-07-09 15:30] nwbrad commented on #133
Below is the function in which the error occurs.  All logic related to other things has been removed, so it just shows the LMDB logic I used.  The issue appears to occur when I reuse the Cursor variable.  If I create a second cursor variable and close the cursors before I commit the transactions, the issue does not appear to happen...
I run the function on multiple tables and the issue only happen

[2018-07-11 19:56] Venemo commented on #133
Not sure what would cause this but I'll investigate. Sorry for the slow reply.

[2018-07-12 15:06] nwbrad commented on #133
It does seem a bit odd how it occurs.  Thanks for the help.

[2018-07-13 11:47] Venemo commented on #133
@nwbrad Does it only occur with one specific database, though?

[2018-07-13 15:55] nwbrad commented on #133
Sort of.  It is one specific Environment, I tried multiple copies of the Environment, restored from backup and tried older versions, all the same result.  Nothing fancy about the Environment.  It has databases that originally used Int Keys and String Keys to store either strings or numbers.  The app that has the issue access LMDB through using binary/buffer access methods to convert utf16 string t

[2018-07-14 06:59] Venemo commented on #133
@nwbrad Can you give me some version of this environment (possibly with some dummy data) where I can reproduce this problem?

[2018-07-16 02:40] nwbrad commented on #133
I won't have time this week to do it, but I will try the week after next.

[2018-07-19 12:45] Venemo commented on #133
Thanks @nwbrad I'm looking forward to seeing it.

[2018-08-03 11:56] Venemo commented on #133
@nwbrad Any news about this?

If you can give me a dataset and some code with which the issue is reproducible I am fairly sure I can fix the problem. However without that I would be just shooting in the dark.

[2018-08-03 15:33] nwbrad commented on #133
Sorry, I'm caught up in a few other things I need to get done.  I probably won't be able to look at this for a couple of weeks.  If you want to close it and I can reopen it when I have time to create data for it, that would be okay.

[2018-08-03 16:56] Venemo commented on #133
@nwbrad No problem, we can keep this open for a few more weeks. In the meantime if any other user encounters the same or similar issue, they can chime in too.

[2018-08-15 14:37] NookieGrey opened #134 "node-gyp rebuild error"
In process of installing I'm getting error:
[code]

I'm work on windows 10 and have only installed Visual Studio 2013
Is it error with C++ library?

[2018-08-16 19:18] Venemo commented on #134
If you want to use node-lmdb on Windows, please follow the steps outlined here: https://github.com/Venemo/node-lmdb#building-node-lmdb-on-windows

Let me know how it goes. If you have any problem following those steps, please post them here.

[2018-10-19 15:55] DanielMazurkiewicz opened #135 "Node 10 error during compilation"
Please bump nan module version to given below, otherwise it throws errors during compilation
"nan": "^2.11.1",

[2018-11-06 12:35] Venemo commented on #135
Hi! Thanks @DanielMazurkiewicz for reporting this. I'll get on it as soon as I can.

[2018-11-08 12:25] majid1268 opened #136 "Shared database between node and python using node-lmdb"
I am completely new with nodejs and node-lmdb, so I will appreciate if you can help me to understand how to solve my problem.
I am trying to make a shared database between nodejs and python using node-lmdb (0,9,70) in node side and lmdb (0, 9, 22) in python side.

I made a database in node side, then I tried to read data in python side using the following codes, but I could not decode data in pyth

[2018-11-08 14:51] Venemo commented on #136
Hello,

Unfortunately I don't know Python, never used Python myself. But will try to take a look at your code.

[2018-11-08 15:19] Venemo commented on #136
Okay so this is what you have in your JS:

[code]
And this in your Python:

[code]

In your JS code you put numbers in your database, while on the python side you are reading some raw byte array data, not numbers. I think this is the problem.

[2018-11-08 18:29] majid1268 commented on #136
the point with node-lmdb is that I write the numbers with specific names in an Open database:

While in python side I have access to the database, not specific data

if I write the follwoing code, the output of is: None

[2018-11-09 08:47] Venemo commented on #136
Okay so here is the documentation for the Python lmdb module: https://lmdb.readthedocs.io/en/release/ ― it tells you how to access each item in your database as a binary. In node-lmdb you can also work with binaries, so that seems to be the easiest way to co-operate between the two.

[2018-11-09 22:29] majid1268 commented on #136
Dear Venemo, thank you for your suggestion. I solved it by using your suggestion. In following you will find the codes.

JS side:
[code]

The python side:
[code]

[2018-11-10 08:13] Venemo commented on #136
@majid1268 I'm really happy you could solve your problem. I'm closing this issue now. If you encounter any more problems please open a different issue.

[2018-11-10 08:13] #136 closed

[2019-01-19 10:03] Youhan opened #137 "Error: Invalid argument"
I am trying to run an example file:

`.../node-lmdb/examples$ node 1-env.js`

[code]

I am guessing that I have a problem with my environment!
Could you please help @Venemo ?

[code]

[2019-01-19 11:36] Venemo commented on #137
@Youhan Did you create the directory for the database?

[2019-01-19 11:43] Youhan commented on #137
Yes, `testdata` is there. If it can't find the directory the error will say "Could not find the directory".

[2019-01-19 12:01] Venemo commented on #137
Okay, I will take a look. I haven't used node-lmdb on newer node versions yet, so it is possible that there is a bug that prevents it from working properly.

[2019-01-19 18:20] Venemo commented on #135
This is now fixed.

[2019-01-19 18:20] #135 closed

[2019-01-19 18:20] Venemo commented on #134
@NugzarGaguliya Hi! Does this error still happen with the latest version?

[2019-01-19 18:21] Venemo commented on #137
@Youhan Can you check if the latest version fixes it maybe?

[2019-01-23 21:32] Youhan commented on #137
It is fixed.

Actually, I was running a [Homestead Vagrant box](https://app.vagrantup.com/laravel/boxes/homestead), it only was happening there.
No issues with other environments that I tested. ( MacOS and Ubuntu )

[2019-01-26 18:33] Venemo commented on #137
@Youhan Glad to know. There was an issue that prevented compilation on node 10.x+, and I fixed that in the latest release. If you have any more problems, feel free to open another issue here.

[2019-01-26 18:33] #137 closed

[2019-01-27 00:53] kriszyp opened #138 "env.sync() blocks the micro event queue (promise callbacks) in Node when other timeouts are in the queue"
This is a minimal test case to reproduce the issue:
[code]
Expected output:
[code]
Actual output:
[code]

[2019-02-06 04:20] kriszyp opened #140 "Included LMDB library is not a stable release version"
The included LMDB library is not a release version of LMDB, it is the master branch with experimental code. In particular, it has experimental use of NTDLL, which we have determined to be source of significant performance, freezing, and instability issues on our servers. node-lmdb should use the stable release branch of lmdb for inclusion.

[2019-02-06 10:02] #138 closed

[2019-02-11 23:14] #140 closed

[2019-02-18 03:38] matthewaveryusa commented on #111
What if we implement this with the new bigint type? The logic would be if the key type is bigint, make it a binary buffer, but if it's a bigint with the db keytype set to integer via an additional option, try to fit the bigint in 64bits. If it can't fit fail the insert with a descriptive message of some sort? I could create a PR for this if you agree with the logic above

[2019-02-18 03:50] matthewaveryusa commented on #131
You can bump the major version of this library. If you are following strict 'semver', then you have the freedom to break API until version 1.x -- you are currently still in 0.x so breaking this is OK -- but I do understand the reluctance to break current clients.

[2019-02-18 08:02] Venemo commented on #131
@matthewaveryusa I know I could do whatever I want, but I don't want to give a hard time to my users, is all.

[2019-02-18 08:05] Venemo commented on #111
@matthewaveryusa Sounds good, though then the feature needs to be `#ifdef`ed in such a way that it only works on node versions that support bigint. Looking forward to the PR.

[2019-03-12 00:07] hanweifish opened #144 "Error for " pointer being freed ""
Just simple getTxn, and get this error sometimes.

node(34473,0x10d5df5c0) malloc: *** error for object 0x102603250: pointer being freed was not allocated
node(34473,0x10d5df5c0) malloc: *** set a breakpoint in malloc_error_break to debug

[2019-03-12 00:09] hanweifish commented on #144
Node: v8.12.0

[2019-03-12 06:08] Venemo commented on #144
Can you please give me a test case with which you can reproduce the problem?

[2019-03-12 06:24] hanweifish commented on #144
One more thing is I have this loop:

    const cursor = new lmdb.Cursor(this.txn, this.dbi);
    let locales = [];
    for (let key = cursor.goToFirst(); key !== null; key = cursor.goToNext()) {
      const {local, keyString} = utils.abstractKey(key.toString('utf8'));
      if (!local || !keyString) {
        if (key.toString('utf8') === LOCALES_KEY) {
          const localesStr = this.txn.getBina

[2019-03-12 12:10] Venemo commented on #144
@hanweifish I can't really tell what it is by just looking at that code fragment. Please give me a **full** test case which can reproduce the problem.

[2019-03-20 20:18] hanweifish commented on #144
this is the problem. It does not happened every time. But just happened randomly.

[2019-03-21 08:43] Venemo commented on #144
@hanweifish All right, then please give me a **full** test case which can randomly reproduce the problem.

[2019-03-21 15:23] hanweifish commented on #144
I find the cause may from the missing "cursor.close()" in some code.
My mistake, just ignore that. If possible, can you add this line in the Readme, on the part the
"Example iteration over a database with a Cursor:"?, I think that may be help.
Thanks for your time.

[2019-03-21 16:04] Venemo commented on #144
@hanweifish So you're saying that the problem happens (randomly) when you don't close a cursor? If that is the case, I can look into that and also improve the readme.

[2019-03-21 16:18] hanweifish commented on #144
I think so. After I close the cursor, it tested overnight and works fine until now.  (interval task to read the lmdb file)

[2019-03-21 16:24] Venemo commented on #144
@hanweifish Okay. I'll look into it.

[2019-03-21 16:26] hanweifish commented on #144
Thanks. If you need more info, please let me know.

[2019-03-21 16:32] Venemo commented on #144
@hanweifish It would still help if you could give me a working example so I can reproduce the problem. If you can't, I will try to remove `cursor.close()` from the indexing example and see if I can reproduce the crash that way.

[2019-04-16 12:12] kriszyp opened #147 "Prebuilt Binaries"
It could be helpful, both for users with difficulties installing build tools, and just for faster installs, to offer prebuilt binaries. We have node-lmdb users that would benefit from this. NPM has good support for this, and it is part of some other projects. The downside is that it requires running the prebuild script for each release. I would be glad to write a PR to add the prebuild-install scr

[2019-04-17 10:13] Venemo commented on #147
Yes, sounds like this is something worth doing. Why it isn't done yet is NPM didn't have a way to do it when I last checked. Thanks for the offer! If you don't mind, I'd like to take you up on it.

[2019-04-24 12:13] kriszyp opened #149 "Support for Node 12"
Add support for Node version 12, which I think is dependent on https://github.com/nodejs/nan/issues/849.

[2019-05-23 03:21] josephg commented on #149
Nan supports node 12. In that thread @bnoordhuis [says many issues are caused by old nan versions](https://github.com/nodejs/nan/issues/849#issuecomment-488292298)

[2019-05-23 03:26] kriszyp commented on #149
Yeah, this is fixed by #150, there is nothing wrong with Nan.

[2019-05-30 18:36] innerop commented on #149
Hi,

Thinking of trying this library. Is this still an open issue?

[2019-05-31 00:10] Venemo commented on #149
@innerop I've just merged the PR that addresses it. Will push a new release to NPM soon.

[2019-08-08 21:28] ravipati2008 opened #151 "Support for electron"
I'm trying to use node-lmdb with Electron but running into an issue with `win_delay_load_hook` being set to false in `binding.gyp`. Electron needs this to be set to true in order to work on versions > 4.x.
https://github.com/electron/electron/blob/master/docs/tutorial/using-native-node-modules.md#a-note-about-win_delay_load_hook
It would also be nice if pre-built binaries are available for Electro

[2019-08-08 21:32] ravipati2008 commented on #151
Turns out this is an intentional change in order for builds to work on windows.
https://github.com/Venemo/node-lmdb/commit/32d1ee6f21f86f7a65dfcee7ca0c2de11717adc1

I can confirm that I'm running into errors when building with `node-gyp` with `win_delay_load_hook` set to true but I'm able to get it working using another package called `electron-rebuild` which builds specifically for `Electron`.

[2019-08-09 07:37] Venemo commented on #151
Hi,
I don't use Electron so I'm not sure what needs to be done. Pull requests are welcome. If you know how to get it working then I'm also happy to help and/or add the necessary support for Electron.

[2019-08-16 21:45] ravipati2008 commented on #151
If we can get node-lmdb compiling with `win_delay_load_hook` set to true in `binding.gyp`, that should be good enough to support Electron.
Right now, I'm getting compilation errors when I set this to true and have no clue as to how to fix this:
[code]

[2019-08-19 11:41] Venemo commented on #151
What exactly does `electron-rebuild` do?

[2019-08-20 18:11] ravipati2008 commented on #151
Made some progress here. I'm able to get it working with `node-gyp --debug`. This is also the reason `electron-rebuild` was working. It's just executing `node-gyp rebuild` with `--debug` which I was passing into `electron-rebuild` inadvertently.  Without that flag electron-rebuild also fails. So, we can ignore that package.
I'm still trying to figure out why it works in debug mode but not in relea

[2019-08-21 17:01] Venemo commented on #151
Yes, the error definitely hints at `ExternalStringResource` but I don't know why. Also the `ExternalStringResource` is an essential part of node-lmdb and I can't just remove it for electron.

[2019-10-08 18:28] andyahn91 opened #152 "node-gyp error"
I am installing `node-lmdb` on my debian, and I am having several issues.

I have tried:
- removing `node_modules` in the same directory
- removing `package-lock.json` in the same directory
- removing `.node-gyp` in home directory
- uninstalling `node-gyp` globally
- installing Node.js v10.x (which caused the similar issue on other application as well)
- `apt install`ing `build-essential` and `g++

[2019-10-09 07:39] Venemo commented on #152
I will have to check, I don't think I tried node v10 yet.

[2019-10-16 22:42] KrishnaPG opened #153 "Get() Should accept a default value to be returned when key is not found"
https://github.com/Venemo/node-lmdb/blob/0f2f2e7ef930136342d618d74ad8f27f66247ea4/src/txn.cpp#L197-L199

When the key is not found, currently the code always returns `null`. It should accept a default value to be returned, instead, when the given key is not found. For example:
[code]

[2019-10-22 03:11] f4f5 opened #154 "How to avoid override existing key/value when put? dup set to be false."
i see there is implementation in python
https://lmdb.readthedocs.io/en/latest/#put

I can't find any document about it.  cry~~

[2019-10-22 06:35] Venemo commented on #154
What exactly is the problem you are trying to solve? How have you tried to solve it?

[2019-11-12 05:15] rraallvv commented on #134
I'm getting this error on macOS Mojave with node 13.1.0 and npm 6.12.1

[code]

[2019-11-14 13:13] beenotung opened #156 "more guides and typescript support"
The api is not completely documented in readme nor typed.
Sometime I've to look at the rust lmdb doc or dig into the examples and .h files to know about the available arguments and their meaning.

I can imagine it's lot of work to document options for each APIs and their lifecycle. Just by adding typing to the APIs is already very helpful.

I've made a typescript wrapper around node-lmdb. It helps

[2019-11-14 13:19] beenotung commented on #154
@f4f5 do you mean to put value only if it's not put before?
If so, you may use wrapper functions, e.g.
[code]

[2019-11-14 15:29] Venemo commented on #156
Which API is it that you think is not documented enough? If you can identify them, maybe I can improve the docs.

Also, not exactly sure what you mean by adding typing. All of the C++ functions already check whether you pass the correct type (and number) of arguments to them. Can you clarify what you mean?

About TypeScript: it is a cool thing, but there are lots of node-lmdb users who don't use i

[2019-12-04 20:05] kylebernhardy commented on #156
It would be nice to see documentation around the options for env.openDbi & env.open. The examples help fill in what might be missing but it is helpful to have it all documented in one place.  Thank you for the great work on this library!

[2019-12-19 21:59] kylebernhardy opened #157 "Support for worker_threads?"
Does node-lmdb support worker_threads?  When I attempted to implement it into a simple test wher just node-lmdn is required I got the message Error: Module did not self-register.

[2019-12-20 01:10] kylebernhardy commented on #157
Please ignore, I was implementing incorrectly.  Thank you again for such a fantastic library!

[2019-12-21 08:15] Venemo commented on #154
Yes, I think @beenotung has the correct answer here. Due to lack of response from OP, I'm closing this issue now.

[2019-12-21 08:15] #154 closed

[2019-12-21 08:18] Venemo commented on #153
If you desire a default value, you can use JavaScript.

[code]

I don't think it's a good idea to bloat node-lmdb with such features, but if you feel like implementing it, a pull request is always welcome.

[2019-12-21 08:23] Venemo commented on #156
You have a good point. I tried to summarize the most common use cases in the README and made some examples, but I didn't have the time or resources to cover everything.

In general, with open source projects, the authors have a limited amount of time to spend on the project and users are expected to be at least a little willing to read the code. The information you are looking for can be found her

[2019-12-21 19:04] kylebernhardy commented on #157
I was able to reproduce this issue.  If you include node-lmdb in the parent process and in the worker thread then the error:Error: Module did not self-register. comes up.  It looks like this is due to this: https://github.com/nodejs/node/issues/21783#issuecomment-429637117

[2019-12-22 18:31] Venemo commented on #157
@kylebernhardy Does the suggested fix on the link really fix the issue? If it fixes it for you then you can make a pull request of it.

[2019-12-22 18:37] kylebernhardy commented on #157
It would entail converting the project from nan to n-api & in the implementation make the module context aware.  I haven't seen anywhere that nan has support for making an addon context aware, but I can look into it.  Is n-api something the team for this addon has been looking into?

[2019-12-22 18:59] Venemo commented on #157
I've been out of the loop from node development lately, since I don't use it for any new project of mine.

I had a quick glance at the docs and the context-aware thing doesn't seem to hard to do, so I believe it's worth to try it. Not sure what n-api is.

[2019-12-22 19:41] kylebernhardy commented on #157
I think I mis-read the needing to implement n-api.  My C++ skills are rusty & I have not coded a native addon, but I am willing to give it a shot to implement.  If you have any pointers as to where this needs to be added to the code base, please let me know.  I'll keep you posted with my progress.

[2020-01-10 01:13] dents opened #159 "opening env causes mdb file to be created with full size on Windows 10 build 1909."
[code]
On Linux this creates a 32768 byte data.mdb file as expected which then grows it as needed up to mapSize. But on Windows 10, data.mdb is 1,048,576 (default mapSize value) instantly on startup. Setting it to more than available disk space causes "Error: There is not enough space on the disk."  Setting it to something massive that still fits on disk (i.e. 500GB) causes the file to be instantl

[2020-01-14 19:35] micburks opened #160 "Node 13 support"
Is Node 13 support ready to be released? I see that it was addressed in a recent commit

[2020-01-14 20:08] Venemo commented on #160
@micburks You could speed things up if you could test the latest master of node-lmdb on Node 13. I'm currently quite busy with other stuff, but if you can confirm that it works, I can make the release.

[2020-01-14 21:57] micburks commented on #160
I tried in a couple projects that use `node-lmdb` and I don't see any obvious regressions in Node 13 or any previous versions.

[2020-01-15 08:51] Venemo commented on #160
Awesome, thanks for your feedback. I just published version 0.8.0, let me know if it works for you.

[2020-01-15 08:56] Venemo commented on #159
I think this has to do with the differences of how memory maps work between the different operating systems, or at least how LMDB makes use of the memory map.

Unfortunately it has been some time since I last looked at how it works, but AFAIK this has been a problem with LMDB for some time, and is not something that node-lmdb can fix.

[2020-01-15 08:57] Venemo commented on #156
I'm closing this issue now. As always, pull requests are welcome to improve the documentation.

[2020-01-15 08:57] #156 closed

[2020-01-15 08:57] Venemo commented on #147
Can this issue be closed?

[2020-01-15 08:58] Venemo commented on #149
With the release of 0.8.0 on npm, I think this issue can be closed now.

[2020-01-15 08:58] #149 closed

[2020-01-15 08:59] Venemo commented on #151
If you figure it out, feel free to send me a pull request.

[2020-01-15 08:59] Venemo commented on #134
Can you please check if version 0.8.0 fixes this issue?

[2020-01-15 09:00] Venemo commented on #152
Can you try if version 0.8.0 fixes this problem?

[2020-01-15 09:01] Venemo commented on #153
I hope the answer I provided is clear. I'm closing this issue now due to lack of response from the OP.

[2020-01-15 09:01] #153 closed

[2020-01-15 09:02] Venemo commented on #157
@kylebernhardy Let me know how it goes. I'm unsure what exactly you are trying to do so I'm afraid I can't give you exact pointers about where in the code you should do it.

[2020-01-15 09:04] Venemo commented on #159
I think there have been some patches floating around which addressed this issue on Windows, but I'm unsure if they have been included in any upstream release of LMDB. @hyc could you please give us a hint about this?

[2020-01-15 13:04] kriszyp commented on #147
Yes, I believe so!

[2020-01-15 13:04] #147 closed

[2020-01-15 17:28] micburks commented on #160
Much thanks!

[2020-01-15 17:28] #160 closed

[2020-01-31 21:54] #134 closed

[2020-04-23 20:06] warner opened #161 "basic operations fail under WSL (windows subsystem for linux)"
We experienced a persistent failure when running node-lmdb under WSL: the "Windows Subsystem for Linux" thing that gives you a linux-ish kernel and an Ubuntu (or other) userspace. A basic operation, just open a DB and then write out a key, would fail with a funny error like this:

[code]

My coworker @FUDCo tracked it down to LMDB expecting certain data-synchronization behavior between two filehan

[2020-04-23 20:19] Venemo commented on #161
Thank you for taking the time for this writeup. I don't personally use either Windows, or WSL these days, so I can't offer advice, other than a suggestion to report this problem to the upstream LMDB developers such as @hyc ― or the WSL developers.

I don't believe you should need the `useWritemap` option just to work around an operating system defect.

[2020-04-23 20:34] hyc commented on #161
The LMDB design document specifies that it requires a cache-coherent filesystem. Using writemap is the usual workaround though; it's also needed on OpenBSD for the same reason.

[2020-04-23 21:35] warner commented on #161
Is there any non-horrible way to test this at startup, and maybe print a warning message if it looks like we're on a non-coherent platform? Chip said one side did a `write()`, and the other read from memory, and got zeros instead of the data that was written.. is there an easy way to read from memory just after doing the write (and sync) and see if the results make sense? Might help guide folks to

[2020-04-24 07:58] Venemo commented on #161
If you do come up with a reliable way to test this, or query it from the system, then I'd be happy to include that in node-lmdb. I still believe that this should be reported as a bug to the WSL team, though.

[2020-04-24 12:29] hyc commented on #161
Agreed, this is a WSL bug.

[2020-04-24 18:22] bitcrazed commented on #161
It'd be super-helpful if you could please file an issue in the WSL repo where the WSL devs are most active and where issues in WSL are triaged and tracked. Please include the simplest possible repro case, and provide as much info as possible re. OS & tools versions you're running, etc.

Many thanks.

https://github.com/microsoft/wsl

[2020-04-26 10:52] Raynos opened #162 "Change prebuild infrastructure to use prebuildify"
https://github.com/prebuild/prebuildify and https://github.com/prebuild/node-gyp-build

It looks like the `prebuild` module has been superceeded by `prebuildify`

The approach of the latter is to put all the prebuilt binaries in the npm tarball. This replaces the `prebuild-install` library which downloads binaries at install time.

If the binaries already exist in the npm tarball then there's no n

[2020-04-28 02:13] kriszyp commented on #159
LMDB's master branch (mdb.master) actually behaves this way, using a different Windows API for memory mapping that uses dynamic growth of the file size, as further segments of the memory map are written. And node-lmdb should probably upgrade to the latest mdb.master at some point, as it is a lot more stable. However, as far as the dynamic memory mapping:

Don't use it.

It is a disaster for perfor

[2020-04-28 02:31] kriszyp opened #163 "getBinaryUnsafe is even more unsafe on Node 14"
Node 14 includes an upgrade of V8 to version 8.0, which has restructured the way ArrayBuffers are allocated, using backing stores (with the intention of providing better management across workers/threads). However, one of the implications of the new allocation model of ArrayBuffers is that the backing store maintains a registry of memory allocation locations and will trigger a low-level error (tha

[2020-04-28 06:13] Venemo commented on #159
That's good to know, thanks Krys. About upgrading to the latest LMDB: pull requests are welcome. Sadly I don't have much time to spend on node-lmdb these days.

[2020-04-29 11:26] extern-lukas-zech-zwickroell-com opened #164 "Blocking beginTransaction for second write transaction"
I'm currently implementing node-lmdb in a web API setting where one request transports data that will be streamed one of many dbis in one environment.

As each request opens a dbi and begins a transaction to stream its data there may be a situation where another requests tries to write its data while the streaming of an earlier request is not finished.

Therefore the second requests attempts to op

[2020-05-01 12:38] kriszyp commented on #164
What error are you getting? Are you running the other transaction in a different process (or thread)? A write `beginTransaction` has always blocked for me when there is another ongoing write transaction _in another process_. And this is the implicit assumption of the documentation as well, it is self-defeating to block a write transaction in the same thread/process as the ongoing transaction since

[2020-05-01 17:35] Venemo commented on #164
I agree with what Kris said. Also would be useful to see what error you are getting, and maybe give us a small example to reproduce the problem.

[2020-05-04 07:02] extern-lukas-zech-zwickroell-com commented on #164
Sorry I linked the wrong PR, I meant to link[ this commit](https://github.com/Venemo/node-lmdb/commit/47ca003b90cb872c59e33b236c5a8ace4684aea8)

The error message is `"You have already opened a write transaction in the current process, can't open a second one."`

I expected that `beginTransaction` would block while another WriteTransaction is active, but of course this only works when called on **

[2020-05-04 07:02] #164 closed

[2020-05-04 07:06] extern-lukas-zech-zwickroell-com commented on #164
Just another idea:
would it make sense to have a `beginTransactionAsync ` method that returns a promise which will either resolve immediatelly if no other write transaction is currently active, or resolve as soon as the [current write transaction is unset](https://github.com/Venemo/node-lmdb/blob/master/src/txn.cpp#L46) ?

[2020-05-04 12:03] Venemo commented on #164
Pull requests are welcome in that area, if you wish to improve it.

[2020-05-18 10:41] black-hawk85 opened #165 "Cursor still seems to leak memory"
The cursor still seems to leak memory

Here's a very simplified test code to reproduce this issue

[code]
As soon as ```ret``` is as freed by garbage collector,
```process.memoryUsage().rss``` comes down to 90 MB in my application.

Now if I start iterating the cursor the memory will increase and never come back down again
[code]
```process.memoryUsage().rss``` will stay at 115 MB, also when I try

[2020-05-20 00:17] kriszyp commented on #165
Operating systems are... interesting in how they attribute RSS memory. LMDB uses memory-mapped files for its database. This means that the LMDB is getting a direct reference to the OS's memory used to cache and map to files on disk. Whenever you access a file, the OS loads that file into its cache. With memory mapped files, the process gets a direct reference to that memory. And with that the OS w

[2020-05-24 18:13] DavidPesta commented on #131
I ran into this same problem when trying to get the database names from the unnamed database. Setting keyIsBuffer to true and treating the key as a buffer fixes it!

[code]

[2020-05-27 12:47] d4tocchini commented on #157
https://github.com/kriszyp/node-lmdb/pull/1

@kylebernhardy, this should do the trick ;)  My use-case was in electron renderers (with process reuse), I haven't tried it with worker_threads.  Context-aware specific testing is most certainly needed...

[2020-05-27 12:58] d4tocchini commented on #151
@ravipati2008 @Venemo Here's how I setup proper electron support: https://github.com/kriszyp/node-lmdb/pull/1

I've only tested on MacOS, but should work for general electron usage.

[2020-05-27 13:01] d4tocchini commented on #151
If you don't care for context-aware support, you can build for electron with something like:

[code]

[2020-05-27 14:50] kylebernhardy commented on #157
@d4tocchini , thanks! I'll check out your branch and see if it works in my use case.

[2020-05-28 04:26] d4tocchini commented on #157
@kylebernhardy, see https://github.com/kriszyp/node-lmdb/pull/1#issuecomment-635091257 for caveats on worker_thread usage

[2020-05-30 20:45] CristianPi opened #170 "[question] cursor performance"
Hi,
i was making some benchmarks (32GB ram, 1TB nvme) about this project,
i see a large difference between cursors and gets (Binary keys/values).

like, 1M read/sec for normal random gets
and about 0.5M for cursors reads

Shouldn't cursor performance be the same or greater than normal reads?
Is this related to the c++ <-> js overhead?

example code:

`function query(store: string, field: string, v

[2020-06-05 12:41] #163 closed

[2020-06-07 16:26] CristianPi commented on #170
you can find the example code here:
[https://github.com/CristianPi/benchlmdb.git](url)
i extended **node-lmdb/benchmark/index.js**

for convenience the results on my machine:
[code]

[2020-06-14 22:57] #165 closed

[2020-06-15 02:03] kriszyp commented on #170
Thank you for putting together this benchmark. I took a look at these benchmarks to see what might be the bottlenecks. From what I can tell, it is actually less about C++/JS overhead and more about the overhead of creating Buffer objects. And by default (and when you have keyIsBuffer) cursor.goToNext() returns the new current key as a buffer. This and the getCurrentBinary both end up creating buff

[2020-06-15 09:40] Venemo commented on #170
What happens if the keys are integers? Does that improve performance further, compared to strings?

[2020-06-15 12:11] kriszyp commented on #170
Yes, I get about a 20% speed up from using the keyIsUint32 keys instead of strings.

[2020-06-17 16:01] CristianPi commented on #170
it's a big limitation of nodejs.
It **should** be possible to use "string" as buffers (to avoid the overhead and do sorting on fixed size intergers with prefix ect. ect.), practically solving the issue, without increasing the storage size.
On server scale even a 5% improvement is important, here we are talking 100% / 600%.
So i will try to go with this route,
but it's either  more storage size, or

[2020-06-17 20:23] kriszyp commented on #170
So I actually spent some time prototyping a function (in native/C) that could retrieve a range of entries using a start and end key. I thought this might provide a big performance improvement by reducing the number of JS calls to the native functions. I ran it with benchmarks, retrieving 100 entries at once (and putting them in an array to return). It ended being rather disappointing, it really on

[2020-08-03 23:07] zaxharperdb opened #172 "32bit linux MDB_MAP_FULL boundaries?"
Howdy.
I am using node-lmdb on a 32bit machine.  Works phenomenal on 64bit!
My mapsize is set to:
const MAP_SIZE = 100 * 1024 * 1024 * 1024;

Cannot seem to get a DB larger than 700K

Any suggestion is appreciated.

[2020-08-03 23:33] kriszyp commented on #172
So LMDB has a preprocessor constant `MDB_VL32` for supporting large DBs on 32-bit machines, that we could try. I have never used it before, and if you are running into problems at only 700KB (strange limit), it is possible that something else might be wrong. Do you have any specific error message that occurs? Or does it segfault? Do you know if it stops on a certain action (possibly adding a recor

[2020-08-03 23:39] zaxharperdb commented on #172
Nothing happens on the OS side in syslogs or dmesg.
The error
`{"message":"MDB_MAP_FULL: Environment mapsize limit reached","stack":"Error: MDB_MAP_FULL: Environment mapsize limit reached\n    at insertRecords (/home/ubuntu/harperdb/utility/lmdb/writeUtility.js:80:29)\n    at lmdbCreateRecords (/home/ubuntu/harperdb/data_layer/harperBridge/lmdbBridge/lmdbMethods/lmdbCreateRecords.js:42:29)\n    at

[2020-08-04 00:02] kriszyp commented on #172
In that case, I doubt the issue is LMDB itself, node-lmdb is using the `size_t` for `mapSize`, which is machine-word-sized. I'll look into changing that to a fixed 64-bit type and see if that could possibly help.

[2020-08-04 00:46] kriszyp commented on #172
OK, do you want to try kriszyp/node-lmdb#c35f6d235e1a50686dd22d2a34c13f5d5398003a and see if that works (certainly no guarantees, not sure how to set up a 32-bit environment locally for testing)?

[2020-08-04 01:40] zaxharperdb commented on #172
Yesir.. will try this evening.
I also had issue configuring 32bit local.
Thanks for the quick response..

On Mon, Aug 3, 2020, 6:46 PM Kris Zyp <notifications@github.com> wrote:

--

This transmission may contain information that is proprietary,
privileged, confidential, and/or exempt from disclosure under applicable
law. If you are not the intended recipient, you are hereby notified that
any disc

[2020-08-04 03:27] zaxharperdb commented on #172
Righteous!
That worked!
Thank you very much, I have spent a lot of time iterating that issue.
I certainly thought it was operator error. which it is.. no one uses 32bit,
except the people/clients that do...
What is the protocol to move this into a release, iff you believe it is
releases, worthy?
Cheers,
Z

On Mon, Aug 3, 2020 at 7:40 PM Zachary Fowler <zachary@harperdb.io> wrote:

--
Zachary Fowle

[2020-08-04 04:39] #172 closed

[2020-08-04 04:41] kriszyp commented on #172
OK, I published a version 0.9.3, with the fix for the type. However, I changed the use of the MDB_VL32 constant to be conditional based on the `use_vl32` build variable. You can build with this enabled by using `npm install --use_vl32=true` (and it should only apply with a 32-bit architecture). I believe you can set this command in you scripts/install in your package.json so your own package build

[2020-08-04 05:11] zaxharperdb commented on #172
Amazing!
Works perfectly!
Your time and diligence are appreciated!
Cheers!

[2020-08-04 19:02] kriszyp commented on #46
I think this request has been largely satisfied with #46, right?

[2020-08-04 19:02] #46 closed

[2020-08-05 13:08] Venemo commented on #46
I think so. If someone misses something, they are free to open a different issue.

[2020-09-01 21:00] zaxharperdb opened #173 "[Question] Building ARM on 64bit x86 Docker"
The new docker experimental buildx to build multi-arch images on a single host.
NOTE: node-lmdb works fine with docker builds on the ARM arch, just curiosity, and using buildx would make my life a little easier during releases.

Ubuntu 18.04 Host machine. Docker 19.03
OS: node 12.16.1 Alipine linux
npm install node-lmdb  @0.9.3, Builds without issue as far as I can tell.
But after build and when w

[2020-09-01 22:05] zaxharperdb commented on #173
I tried it with arm64v8 ubuntu and got a better error: cannot allocate memory.
thanks thanks.

[2020-09-01 22:39] kriszyp commented on #173
I'll throw out a few ideas just based on a little research:
* Are you still using `use_vl32`/`MDB_VL32`? Maybe try turning that off (I accidentally left it on in some of our builds and ran into MDB_TXN_FULL error).
* Try using a smaller map size (I assume your `MAP_SIZE` constant). I know that LMDB docs suggest setting this very large, but we have had plenty of problems (performance and disk space

[2020-09-01 23:04] zaxharperdb commented on #173
Good news.. Ill give those a try!

[2020-09-01 23:55] zaxharperdb commented on #173
No luck.
save the third bullet point.. Not sure I want to have that as a build step just for docker..
It is weird as there is no issue when it is done in it's native architecture and it worked in our last release just fine, except 32bit.
Ill keep doing some iterations around docker.. I do not think it is directly related to this library..
Thank you for your time, it is appreciated.
You can close t

[2020-09-08 00:04] kriszyp commented on #162
Switched to using prebuildify. Feel free to check if I am doing correctly, since it seems that it is only prebuilding for Windows, since I am doing dev on Windows. Or maybe that's a good thing, because Windows is the hardest OS to get binary addons to build?

[2020-09-08 00:04] #162 closed

[2020-09-08 00:05] kriszyp commented on #157
Support for threads/workers has been added in 0.9.4. I'd consider it beta, perhaps, but so far it seems to work properly, and I have done some decent load testing with it.

[2020-09-08 00:05] #157 closed

[2020-09-08 00:06] kriszyp commented on #152
With prebuildify I am building against multiple node versions, so I am pretty sure that has been addressed.

[2020-09-08 00:06] #152 closed

[2020-09-08 00:09] kriszyp commented on #159
In 0.9.4, we are using the latest LMDB version with MDB_FIXEDSIZE off by default, which should allow for dynamic growth on Windows, but also includes documentation warnings about its impact on performance and build option to disable it and using more stable/predictable fixed size files.

[2020-09-08 00:09] #159 closed

[2020-09-08 00:10] kriszyp commented on #151
I think this has already been addressed, but 0.9.4 is definitely tested with context-aware modules and even does some prebuilds for electron. Let me know if you see any issues.

[2020-09-08 00:10] #151 closed

[2020-09-08 13:29] kylebernhardy commented on #157
@kriszyp i can create a test branch on our product and run it thru some work loads to run you work thru it’s paces. Thank you so much

[2020-09-09 11:58] Raynos commented on #162
Thanks kris ! I’ll take a look when I get a chance

[2020-09-14 15:30] trotter2000 opened #176 "Do you need to db.close for all transactions?"
Wondering as I made a simple collections function where you can add/remove a variable to an array. After doing "getString" you need to "db.open" again before I could write or even do get again, so it seems like "get" automatically closes after.

Going by the usage info it says to make sure you close things after use. It's not a big deal I know, I could just use close anyway as it doesn't error if

[2020-09-14 16:58] kriszyp commented on #176
I believe this might be more related to the transactions you are using. If you open a db using a transaction and then commit that transaction, the db stays open. If you abort or reset the transaction, then the db gets closed, and perhaps you are reseting or aborting the read transaction you are using for getString (reseting is actually best practice for read-only transactions, once you have perman

[2020-09-14 17:25] kriszyp commented on #176
Also, in regards to if you should close databases, the LMDB documentation itself recommends against every closing dbs (and I never close dbs in my code): http://www.lmdb.tech/doc/group__mdb.html#ga52dd98d0c542378370cd6b712ff961b5

[2020-09-14 17:46] trotter2000 commented on #176
Thanks for the replys. I think I've been working to long without a break on a rather warm day. I was sure I proven what I was saying before I posted. Now that I finished and cleaned up what I was coding it seems to not be the case. Got a feeling I was using get from the class I made that has the close in it and not getString :open_mouth:

I wasn't very clear as I said db.close as that is the funct

[2020-09-14 18:27] DanielMazurkiewicz opened #177 "[Question] Is there a way to get safe autoincrementing keys?"
Once I wrote separate lib which handled atomic operations on memory mapped file, but is there a simple easy way to get it directly from this lib?

[2020-09-14 18:50] kriszyp commented on #177
node-lmdb doesn't have a dedicated function for this, but you can do this relatively simply by creating a transaction to increment and get the next key:
[code]
Creating and committing a transaction solely for id incrementation may not be all that efficient though, you'd probably want to do this in the same transaction where you write data with your new id, if you are concerned about performance.

[2020-09-14 20:43] DanielMazurkiewicz commented on #177
before writing, there is a reading command, is it really guaranteed not to run in parallel? (so no same readings from multiple forks of process???). Transaction at beginTxn() doesn't know yet it is gonna be write kind, then there is a read, then increment and then write, and at the end commit. So far I thought that commit is a moment to flush back data to database, and before that every read will

[2020-09-14 21:46] kriszyp commented on #177
Yes. This transaction is a write transaction from the start; you have to use the readOnly option/flag to specify a read-only transaction (and read-only transactions can operate in parallel), and without that flag, it is a write transaction. Write transactions are absolutely guaranteed to be guarded with system-wide lock/mutex and all other processes (and threads) are blocked from starting a transa

[2020-09-14 22:14] kriszyp commented on #176
I never close environments or databases when I use LMDB in node. If you really know that you aren't going to use an environment again, you can close it to free up the bit of memory it was using, but that's rarely necessary, generally you just open an environment when you start your program and leave it open (the memory will be cleaned up on process exit). As far as cleanup concerns, the more impor

[2020-09-16 15:27] trotter2000 commented on #176
Thanks for clearing things up for me. No need to save a little ram, saving plenty by using LMDB from my research. Not that I need super read speed however it's nice knowing it's faster than any of the other options I was recommend to use.

[2020-09-16 15:27] #176 closed

[2020-10-03 09:27] hjerabek opened #178 "Does node-lmdb support storing live objects?"
In one of his [presentations about LMDB](https://www.youtube.com/watch?v=tEa5sAh-kVk&feature=youtu.be&t=590), Howard Chu talks about the possibility of storing live objects within an LMDB.

Is this supported by node-lmdb?
If yes, can I use it to share read access to objects between different Node.js processes/threads without requiring any serialization and deserialization?

[2020-10-03 13:40] kriszyp commented on #178
This depends a bit on what you mean, but the short answer is that, no, JavaScript/V8 itself does not support concurrent/shared access to objects, and that doesn't have anything to do with node-lmdb, but rather with the object model of V8 (but that's probably ok).

First, what you _can_ do: you can get a Buffer that points to the shared memory within the LMDB mmap. This is provided by "unsafe" meth

[2020-10-03 13:41] #177 closed

[2020-10-03 14:54] hjerabek commented on #178
1.) Thanks very much for the detailed answer. Even though serialization/deserialization has so far never been a bottleneck in any of my applications/microservices, the premature optimizer within me was curious if LMDB, which already is my "go to" data store, could also help me reduce (de-)serialization.

2.) A few years back, I compared the performance of msgpack-lite to the default JSON (de-)seri

[2020-10-08 19:04] zaxharperdb opened #179 "{Question] Environment size and Delete"
I created a db table with 10GB, I am inserting a small record,
{
  id: <guid>,
  tagname: 'ARRAY_DINT[1]',
  timestamp: '2020-10-07 07:39:12.793367+00:00',
  value: 556716
}

I am deleting every minute, about 2400 records, eventually, the DB size is hit and the DB is not responsive?
https://symas.com/understanding-lmdb-database-file-sizes-and-memory-utilization/
This article makes me feel like as

[2020-10-08 19:12] #173 closed

[2020-10-08 19:22] kriszyp commented on #179
Is it possible that you have a read transaction open somewhere that is staying open? If you have an open read transaction this will prevent any data that is newer than the earliest open read transaction (even if later deleted) from being reclaimed as free space.

[2020-10-08 19:22] kriszyp commented on #173
You never figured out exactly what the issue was?

[2020-10-08 19:53] zaxharperdb commented on #173
I did not.

On Thu, Oct 8, 2020 at 1:23 PM Kris Zyp <notifications@github.com> wrote:

--
Zachary Fowler
*Chief Product Officer*
m: 303.587.0139
w: harperdb.io  e: zachary@harperdb.io
*Simplicity Without Sacrifice*

--

This transmission may contain information that is proprietary,
privileged, confidential, and/or exempt from disclosure under applicable
law. If you are not the intended recipient,

[2020-10-08 19:56] zaxharperdb commented on #173
It works when i do it on its native arch..
I feel like this is a docker resource thing, but could not narrow it down,
as I lack the knowledge of cgroups, containers etc.. resource management to
docker.

On Thu, Oct 8, 2020 at 1:52 PM Zachary Fowler <zachary@harperdb.io> wrote:

--
Zachary Fowler
*Chief Product Officer*
m: 303.587.0139
w: harperdb.io  e: zachary@harperdb.io
*Simplicity Without Sacr

[2020-10-08 20:01] kriszyp commented on #173
No problem, was just curious.

[2020-10-08 20:41] zaxharperdb commented on #179
Aha.. good point!
Possibly, inadvertently.. The program is doing only writes, but the studio db manager is spectating..Thank you for your insight.

[2020-11-10 06:28] hjerabek opened #180 "Modifying unsafe buffers in-place leads to segmentation fault"
I wanted to use `txn.getBinaryUnsafe` to get data from an LMDB as buffer and modify subparts of it **in-place**. However, every modification operation on that unsafe buffer raises a `Segmentation fault` (Node 12.19.0). I thought that the unsafe, i.e. zero-copy, get method would return a buffer that directly points to the respective part in the virtual memory and would allow me to directly modify t

[2020-11-10 13:03] Venemo commented on #180
This is correct.

This is not correct. Take a look at the LMDB documentation here: http://www.lmdb.tech/doc/group__mdb.html#ga8bf10cd91d3f3a83a34d04ce6b07992d - the relevant part is this: *The memory pointed to by the returned values is owned by the database. The caller need not dispose of the memory, and may not modify it in any way. For values returned in a read-only transaction any modification

[2020-11-10 13:16] kriszyp commented on #180
Venemo is correct, and it is also worth noting that this is because by default the memory maps used the readonly mapped memory. However, if you enable the `useWritemap` flag (`env.open({useWritemap:true})`), the memory maps _are_ writable, and you actually _can_ directly modify the data in-memory. This comes with a tremendous hazards though, since you would be directly modifying the contents of th

[2020-11-10 13:59] hjerabek commented on #180
Thank you both for the clarifications and additional information.

[2020-11-10 13:59] #180 closed

[2020-11-10 14:13] #178 closed

[2020-11-10 17:37] sisou opened #181 "Build fails with Node 14.15.0, the new LTS release"
On October 27, 2020, Node v14.15 was marked LTS and took over from Node 12. That means the `node:lts` docker container was updated and our builds started failing.

The relevant build error seems to be
[code]
<details>
<summary>Here's the complete build output from running <code>yarn</code> (with node-lmdb as a dependency) in a Github Action on <code>ubuntu-latest</code></summary>
<p>

[code]

</p>

[2020-11-10 18:00] kriszyp commented on #181
Do you know what version of node-lmdb is being installed? I think that build error has been fixed in newer versions of node-lmdb (and doesn't line up with the current source).

[2020-11-10 18:01] #179 closed

[2020-11-10 18:09] sisou commented on #181
Oh dammit, you are right. Didn't think about updating it. (it's a dependency of another package our org controls, so didn't think of it directly.)
Thanks!

[2020-11-10 18:09] #181 closed

[2020-11-18 20:38] kylebernhardy opened #182 "Asynchronous batch write data types"
Hi,

Looking at the documentation for async batch writes it looks like the values are forced to be buffers.  Is there anyway to use string data types for the values? Out of curiosity can non-string (Buffer/Number) data types be used for keys?

Thanks for creating & maintaining an awesome library!

[2020-11-19 01:04] kriszyp commented on #182
Yes, this would be possible to add support for. However, there are a couple things to consider with this:
First, node-lmdb's getString/putString/getCurrentString/etc. methods use UTF-16 for encoding/decoding strings. Unless you are using a _lot_ of non-latin unicode characters, I would recommend against storing strings in UTF-16, as it is much less efficient than UTF-8 for space and is usually les

[2020-11-23 17:46] kylebernhardy commented on #182
Thank you so much for the detailed response.  We are overall performing a lot small writes where the value is a string, in most cases relatively small strings. In most cases the value would be UTF-8, except for the value of our primary index, we have no guarantee all data elements will only be UTF-8.  Do you know what the performance on scale is like when the value is a buffer and we need to marsh

[2020-11-24 03:01] kriszyp commented on #182
So are you asking about the performance difference doing a get from the database and decoding with UTF-16 (as node-lmdb's getString does) vs decoding with UTF-8? I'd say the difference in these two decoding methods is pretty small (and go either way depending on presence of non-latin characters), but the differences in memory usage are more obvious (which eventually have more pernicious effects on

[2020-11-24 16:22] kylebernhardy commented on #182
I apologize for the lack of clarity, the encoding is UTF-8 always for us.  Our data is stored where our primary key is a non-dupsort dbi where the key is the unique id for the row & the value is the stringified JSON object, currently key & value are both strings.  All subsequent dbis are dupsorted where the key is either a string or buffer (we are using buffers for numbers) & the value is a string

[2020-11-25 03:30] kriszyp commented on #182
Yes, using constructing a new buffer on each get definitely has a performance penalty, and I was actually surprised to discover the significance of the cost of new buffers in #170 (I had previously thought that getBinaryUnsafe would be fastest, but clearly not the case). As a result (as I mentioned before), the performance optimization I have used to provide fast access to binary data (in lmdb-sto